

		<!-- Footer -->
        <footer class="footer">
            <div class="footer-top two-columns-on-tablet">
                <div class="row flex">
                    <div class="column width-3">
                        <div class="widget">
                            <h4 class="widget-title">Easyhome inc</h4>
                            <p class="copyright">
                                &copy; Easyhome. All Rights Reserved.
                            </p>
                        </div>
                    </div>
                    <div class="column width-3">
                        <div class="widget">
                            <h4 class="widget-title">Tips</h4>
                            <ul class="list-group large">
                                <li>
                                    <span class="post-info"><span class="post-date">27 Jul 2014</span></span>
                                    <a href="#">Our New Los Angeles Downtown Office</a>
                                </li>
                                <li>
                                    <span class="post-info"><span class="post-date">02 Jun 2014</span></span>
                                    <a href="#">Tutorial - Hidden Gems of Sublime</a>
                                </li>
                                <li>
                                    <span class="post-info"><span class="post-date">15 May 2014</span></span>
                                    <a href="#">New Team Member - Jason Adams</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="column width-3">
                        <div class="widget">
                            <h4 class="widget-title">Useful Links</h4>
                            <ul>
                                <li>
                                    <a href="#">Find Us On Google</a>
                                </li>
                                <li>
                                    <a href="#">Learn About Our Products</a>
                                </li>
                                <li>
                                    <a href="#">Our Barbers</a>
                                </li>
                                <li>
                                    <a href="#">Get In Touch</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="column width-3">
                        <ul class="social-list list-horizontal pull-right clear-float-on-mobile">
                            <li><a href="#"><span class="icon-twitter-with-circle medium"></span></a></li>
                            <li><a href="#"><span class="icon-facebook-with-circle medium"></span></a></li>
                            <li><a href="#"><span class="icon-instagram-with-circle medium"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer End -->

        
        <!-- ========================================================================= -->
