<!-- Footer -->
<footer class="footer">
    <div class="footer-top">
        <div class="row flex">
            <div class="column width-6">
                <div class="widget">
                    <h4 class="widget-title">SoundWall&trade; by Sartre</h4>
                    <p class="mb-20">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <address>
                        <em>500 W El Camino Real<br>
                        Mountain View, CA 94040, USA</em>
                    </address>
                    <ul class="social-list list-horizontal">
                        <li><a href="#"><span class="icon-twitter-with-circle medium"></span></a></li>
                        <li><a href="#"><span class="icon-facebook-with-circle medium"></span></a></li>
                        <li><a href="#"><span class="icon-dribbble-with-circle medium"></span></a></li>
                        <li><a href="#"><span class="icon-instagram-with-circle medium"></span></a></li>
                    </ul>
                    <div class="divider hide show-on-mobile no-margin-top"></div>
                </div>
            </div>
            <div class="column width-5 offset-1">
                <div class="widget">
                    <h4 class="widget-title">Get Notified Of Updates</h4>
                    <p>Love music as much as we do? Sign up and get the latest updates and features before everyone else does. We don't spam, and you can unsubscribe at any time.</p>
                    <div class="signup-form-container">
                        <form class="signup-form merged-form-elements" action="php/subscribe.php" method="post" novalidate>
                            <div class="row">
                                <div class="column width-7">
                                    <div class="field-wrapper">
                                        <input type="email" name="email" class="form-email form-element" placeholder="Email address" tabindex="2" required>
                                    </div>
                                </div>
                                <div class="column width-4">
                                    <input type="submit" value="Signup" class="form-submit button bkg-charcoal bkg-hover-theme color-white color-hover-white">
                                </div>
                            </div>
                            <input type="text" name="honeypot" class="form-honeypot form-element">
                        </form>
                        <div class="form-response show"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="row">
            <div class="column width-12">
                <div class="footer-bottom-inner">
                    <p class="copyright pull-left">&copy; ThemeMountain. All Rights Reserved.</p>
                    <a href="#" class="scroll-to-top pull-right" data-no-hide>Top</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->