<% layout('layouts/second') -%>


	<!-- Content -->
    <div class="content clearfix">

        <!-- Fullscreen Sections -->
        <section class="fullscreen-sections-wrapper no-navigation">
            <div class="section-block fullscreen-section background-cover bkg-charcoal">
                <!-- Fullscreen Image -->
                <div class="background-image-wrapper">
                    <div class="background-image fullscreen-bkg-2"></div>
                </div>
                <div class="fullscreen-inner">
                    <div class="row">
                        <div class="column width-6 offset-3 pt-50 center offset-1">
                            <h1 class="mb-20 status-code-title no-padding-on-mobile text-uppercase color-white">404</h1>
                            <h2 class="mb-30 title-medium no-padding-on-mobile text-uppercase color-white">Page Not Found</h2>
                            <p class="color-white">Sorry, the page you are looking for cannot be found.<br>Try checking the URL or return back home.</p>
                            <a class="button medium border-white color-white bkg-hover-theme color-hover-white fade-location" href="/">Return Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fullscreen Sections End -->

    </div>
    <!-- Content End -->