<% layout('layouts/main') -%>



	<!-- Content -->
    <div class="content clearfix">

    


        <!-- Home -->
    <section id="home">


        <!-- Full Width Slider -->
            <div class="section-block pt-0 pb-0">
                <div class="tm-slider-container fullscreen full-width-slider" data-scale-under="1140" data-speed="1000">
                    <ul class="tms-slides">
                        <li class="tms-slide" data-image data-as-bkg-image data-force-fit data-animation="scaleIn" data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.3">
                            <div class="tms-content">
                                <div class="tms-content-inner center">
                                    <div class="row">
                                        <div class="column width-12">
                                            <h3 class="tms-caption title-medium color-white mb-30"
                                                data-animate-in="preset:scaleOut;duration:1000ms;"
                                                data-no-scale
                                            >
                                                Solutions IT
                                            </h3>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img data-src="images/slider/slider-it.jpg" data-retina src="images/blank.png" alt=""/>
                        </li>
                        <li class="tms-slide" data-image data-as-bkg-image data-force-fit data-animation="slideTopBottom" data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.3">
                            <div class="tms-content">
                                <div class="tms-content-inner center">
                                    <div class="row">
                                        <div class="column width-12">
                                            <h3 class="tms-caption title-medium color-white mb-30"
                                                data-animate-in="preset:scaleOut;duration:1000ms;"
                                                data-no-scale
                                            >
                                            Communication et marketing digitale.
                                            </h3>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img data-src="images/slider/slider-marketing.jpg" data-retina src="images/blank.png" alt=""/>
                        </li>
                        <li class="tms-slide" data-image data-as-bkg-image data-force-fit data-animation="scaleIn" data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.3">
                            <div class="tms-content">
                                <div class="tms-content-inner center">
                                    <div class="row">
                                        <div class="column width-12">
                                            <h3 class="tms-caption title-medium color-white mb-30"
                                                data-animate-in="preset:scaleOut;duration:1000ms;"
                                                data-no-scale
                                            >
                                            Formations et E-learning.
                                            </h3>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img data-src="images/slider/slider-elearning.jpg" data-retina src="images/blank.png" alt=""/>
                        </li>
                        <li class="tms-slide" data-image data-as-bkg-image data-force-fit data-animation="slideTopBottom" data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.3">
                            <div class="tms-content">
                                <div class="tms-content-inner center">
                                    <div class="row">
                                        <div class="column width-12">
                                            <h3 class="title-medium font-alt-2 weight-light color-white mb-10">
                                                <span class="tms-caption" data-animate-in="preset:flipInY;duration:800ms;;" data-no-scale>Accompagnement  </span>
                                                <span class="tms-caption" data-animate-in="preset:slideInDownShort;duration:800ms;delay:300ms;" data-no-scale>des</span>
                                                <span class="tms-caption" data-animate-in="preset:flipInY;duration:800ms;delay:600ms;" data-no-scale>entreprises</span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img data-src="images/slider/slider-formation.jpg" data-retina src="images/blank.png" alt=""/>
                        </li>
                        <li class="tms-slide" data-image data-as-bkg-image data-force-fit data-animation="scaleIn" data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.3">
                            <div class="tms-content">
                                <div class="tms-content-inner center">
                                    <div class="row">
                                        <div class="column width-12">
                                            <h3 class="tms-caption title-medium color-white mb-30"
                                                data-animate-in="preset:scaleOut;duration:1000ms;"
                                                data-no-scale
                                            >
                                            Numeria: SRM solution.
                                            </h3>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img data-src="images/slider/numeria.jpg" data-retina src="images/blank.png" alt=""/>
                        </li>
                    </ul>
                </div>
            </div>
        <!-- Full Width Slider -->


        <!-- About -->
        <section id="about">
            <!-- Feature Section 2 -->
            <div class="section-block bkg-charcoal feature-2">
                <div class="row flex">
                    <div class="column width-6 push-5 offset-1">
                        <div class="feature-image mb-mobile-50">
                            <div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
                                <img src="images/team.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="column width-5 pull-7">
                        <div class="feature-content horizon pd-40" data-parallax="direction:vertical;speed:0.25;rotate:none;opacity:fade;">
                            <div class="feature-content-inner horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:300ms;" data-threshold="0.6">
                                <h2 class="mb-30 color-white">À propos de nous</h2>
                                <p class="lead color-grey-light">A feature section is a great way of showcasing a particular feature, service or product.</p>
                                <p class="color-grey-light">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Feature Section 2 End -->
        </section>
        <!-- About End -->


            
            <!-- mission  Section 2 -->
            <section class="section-block  feature-2 right ">
                <div class="row flex">
                    <div class="column width-6">
                        <div class="feature-image">
                            <div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInLeftShort;duration:1000;" data-threshold="0.6">
                                <img src="images/mission.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="column width-5 offset-1">
                        <div class="feature-content">
                            <div class="feature-content-inner left horizon" data-animate-in="preset:slideInUpShort;duration:1000;delay:300ms;" data-threshold="0.6">
                                <h2>Notre Mission</h2>
                                <p class="lead">A feature section is a great way of showcasing a particular feature, service or product.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <!-- mission Section 2 End -->


               <!-- Feature Section 2 -->
               <section id="vision" class="section-block feature-2 bkg-charcoal">
                <div class="row flex">
                    <div class="column width-6 push-6">
                        <div class="feature-image mb-mobile-50">
                            <div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000;" data-threshold="0.6">
                                <img src="images/vision.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="column width-5 pull-6 pull-1">
                        <div class="feature-content">
                            <div class="feature-content-inner horizon" data-animate-in="preset:slideInUpShort;duration:1000;delay:300ms;" data-threshold="0.6">
                                <h2 class="color-white">Notre Vision</h2>
                                <p class="color-grey-light">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Feature Section 2 End -->


            <!-- No valeurs start -->
            	<!-- Features -->
				<section id="features" class="section-block bkg-grey-ultralight">
					<div class="row">
						<div class="column width-12  center">
							<h2 class="mb-50">Nos valeurs</h2>
						</div>
					</div>
					<div class="row flex">
						<div class="column width-4">
							<div class="feature-column small left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="1">
								<span class="feature-icon icon-upload-to-cloud color-theme"></span>
								<div class="feature-text">
									<h5>Valeur 1</h5>
									<p>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
						</div>
						<div class="column width-4">
							<div class="feature-column small left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="1">
								<span class="feature-icon icon-fingerprint color-theme"></span>
								<div class="feature-text">
									<h5>Valeur 2</h5>
									<p> , quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
						</div>
						<div class="column width-4">
							<div class="feature-column small left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:400ms;" data-threshold="1">
								<span class="feature-icon icon-crop color-theme"></span>
								<div class="feature-text">
									<h5>Valeur 3</h5>
									<p> , quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
						</div>
                        <div class="column width-4 offset-2">
							<div class="feature-column small left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:400ms;" data-threshold="1">
								<span class="feature-icon icon-crop color-theme"></span>
								<div class="feature-text">
									<h5>Valeur 4</h5>
									<p> , quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
						</div>
                        <div class="column width-4">
							<div class="feature-column small left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:400ms;" data-threshold="1">
								<span class="feature-icon icon-crop color-theme"></span>
								<div class="feature-text">
									<h5>Valeur 5</h5>
									<p> , quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Features -->


                <!-- column with animation  -->

                	<!-- Basic Feature Columns -->
				<!-- <div class="section-block pt-0">
					<div class="row flex">
						<div class="column width-4">
							<div class="feature-column small left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="1">
								<span class="feature-icon icon-upload-to-cloud color-theme"></span>
								<div class="feature-text">
									<h5>Upload It</h5>
									<p>Use feature columns to highlight key information of one or multiple sections. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
						</div>
						<div class="column width-4">
							<div class="feature-column small left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="1">
								<span class="feature-icon icon-fingerprint color-theme"></span>
								<div class="feature-text">
									<h5>Fingerprint</h5>
									<p>Use feature columns to highlight key information of one or multiple sections. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
						</div>
						<div class="column width-4">
							<div class="feature-column small left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:400ms;" data-threshold="1">
								<span class="feature-icon icon-crop color-theme"></span>
								<div class="feature-text">
									<h5>Crop It</h5>
									<p>Use feature columns to highlight key information of one or multiple sections. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<!-- Basic Feature Columns End -->
            <!-- No valeurs  end-->



		<!-- Full Width Slider Section -->
        <section id="services" class="section-block featured-media page-intro small paralax">
            <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140" data-scale-min-height="300">
                <ul class="tms-slides">
                    <li class="tms-slide" data-image data-as-bkg-image data-force-fit>
                        <div class="tms-content">
                            <div class="tms-content-inner left">
                                <div class="row">
                                    <div class="column width-12">
                                        <h1 class="tms-caption color-white inline"
                                            data-animate-in="preset:slideInUpShort;duration:1000ms;delay:300ms;"
                                            data-no-scale
                                        >
                                            Nos Services
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img data-src="images/services.jpg" data-retina src="images/blank.png" alt=""/>
                    </li>
                </ul>
            </div>
        </section>

    <!-- Boxed Feature Columns -->
        <div class="section-block pb-0 bkg-grey-ultralight">
            <div class="row flex boxes">
                <div class="column width-4">
                    <div class="feature-column box rounded large bkg-white center horizon" data-animate-in="preset:flipInY;duration:1000ms;" data-threshold="1">
                        <span class="feature-icon icon-upload-to-cloud color-theme"></span>
                        <div class="feature-text">
                            <h5><a href="/solution-it">Solutions IT</a></h5>
                            <p>Use feature columns to highlight key information of one or multiple sections. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                </div>
                <div class="column width-4">
                    <div class="feature-column box rounded large bkg-white center horizon" data-animate-in="preset:flipInY;duration:1000ms;delay:200ms;" data-threshold="1">
                        <span class="feature-icon icon-shop color-theme"></span>
                        <div class="feature-text">
                            <h5><a href="/communication-marketing">Communication et marketing digitale</a></h5>
                            <p>Use feature columns to highlight key information of one or multiple sections. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate.</p>
                        </div>
                    </div>
                </div>
                <div class="column width-4">
                    <div class="feature-column box rounded large bkg-white center horizon" data-animate-in="preset:flipInY;duration:1000ms;delay:400ms;" data-threshold="1">
                        <span class="feature-icon icon-users color-theme"></span>
                        <div class="feature-text">
                            <h5><a href="/accompagnement-entreprises">Accompagnement des entreprises</a></h5>
                            <p>Use feature columns to highlight key information of one or multiple sections. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto. </p>
                        </div>
                    </div>
                </div>
                <div class="column width-4 offset-2">
                    <div class="feature-column box rounded large bkg-white center horizon" data-animate-in="preset:flipInY;duration:1000ms;delay:200ms;" data-threshold="1">
                        <span class="feature-icon icon-laptop color-theme"></span>
                        <div class="feature-text">
                            <h5><a href="/formation-et-elearning">Formations et E-learning</a></h5>
                            <p>Use feature columns to highlight key information of one or multiple sections. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate.</p>
                        </div>
                    </div>
                </div>
                <div class="column width-4">
                    <div class="feature-column box rounded large bkg-white center horizon" data-animate-in="preset:flipInY;duration:1000ms;delay:200ms;" data-threshold="1">
                        <span class="feature-icon icon-fingerprint color-theme"></span>
                        <div class="feature-text">
                            <h5><a href="/numeria">Numeria: SRM solution</a></h5>
                            <p>Use feature columns to highlight key information of one or multiple sections. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Boxed Feature Columns End -->

        <!-- Contact Form -->
        <section  class="section-block replicable-content contact-2 bkg-grey-ultralight">
            <div class="row mb-5 ">
                <div class="column width-6">
                    <div class="row ">
                        <div class="column width-10">
                            <img src="images/contact.jpg"  alt="" />
                        </div>
                    </div>
                </div>
                <div class="column width-6 left" >
                    <div class="contact-form-container">
							<h1 class="mb-30 mt-10">Contact Us</h1>
							<div class="row">
								<div class="column width-10">
									<h4>Do not hesitate to connect with us. your business's future is one click away.</h4>
								</div>
							</div>
                        <form class="contact-form" action="php/send-email.php" method="post" novalidate>
                            <div class="row">
                                <div class="column width-6">
                                    <input type="text" name="fname" class="form-fname form-element large" placeholder="First Name*" tabindex="1" required>
                                </div>
                                <div class="column width-6">
                                    <input type="text" name="lname" class="form-lname form-element large" placeholder="Last Name" tabindex="2">
                                </div>
                                <div class="column width-6">
                                    <input type="email" name="email" class="form-email form-element large" placeholder="Email address*" tabindex="3" required>
                                </div>
                                <div class="column width-6">
                                    <input type="text" name="website" class="form-website form-element large" placeholder="Website" tabindex="4">
                                </div>
                                <div class="column width-6">
                                    <div class="form-select form-element large">
                                        <select name="options" class="form-aux" data-label="Options" tabindex="5">
                                            <option selected="selected" value="">Project Budget</option>
                                            <option value="">Less than $1000</option>
                                            <option value="">$1000 - $2000</option>
                                            <option value="">$2000 - $5000</option>
                                            <option value="">$5000 - $7000</option>
                                            <option value="">$10000 &amp; up</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="column width-6">
                                    <div class="form-select form-element large">
                                        <select name="options" class="form-aux" data-label="Options" tabindex="5">
                                            <option selected="selected" value="">How'd You Find Easyhome</option>
                                            <option value="">From a friend</option>
                                            <option value="">Found Sartre online</option>
                                            <option value="">Previous client</option>
                                            <option value="">Through advertising</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="column width-6">
                                    <input type="text" name="honeypot" class="form-honeypot form-element large">
                                </div>
                            </div>
                            <div class="row">
                                <div class="column width-12">
                                    <div class="field-wrapper">
                                        <textarea name="message" class="form-message form-element large" placeholder="Message*" tabindex="7" required></textarea>
                                    </div>
                                </div>
                                <div class="column width-12">
                                    <input type="submit" value="Send Email" class="form-submit button medium bkg-theme bkg-hover-theme color-white color-hover-white">
                                </div>
                            </div>
                        </form>
                        <div class="form-response center"></div>
                    </div>
                </div>
            </div>
        </section>
        <!--Contact Form End -->

        </section>
        <!-- Home End -->

        <!-- Pricing Options -->
        <!-- <section id="pricing" class="section-block replicable-content">
            <div class="row">
                <div class="column width-6 offset-3 center">
                    <h2>Music Plans</h2>
                    <p class="lead mb-50">A plan for every music enthusiast <br>and professional muscian.</p>
                </div>
                <div class="column width-10 offset-1">
                    <div class="pricing-table large style-2 columns-3 horizon" data-animate-in="preset:slideInUpShort;duration:1000;" data-threshold="0.6">
                        <div class="pricing-table-column">
                            <div class="pricing-table-header">
                                <h2 class="weight-bold">Starter Edition</h2>
                            </div>
                            <div class="pricing-table-price color-grey">
                                <h4>
                                    <span class="currency">$</span>2.99<span class="interval">/mo</span>
                                </h4>
                            </div>
                            <ul class="pricing-table-options">
                                <li>LowFi Sound Quality</li>
                                <li>Online Listening</li>
                                <li>Advertisng</li>
                                <li>1000 Song Play limit</li>
                                <li>200 Video Play limit</li>
                            </ul>
                            <div class="pricing-table-footer">
                                <button class="border-theme bkg-hover-theme color-theme color-hover-white">Sign Up</button>
                            </div>
                        </div>
                        <div class="pricing-table-column bkg-theme callout">
                            <div class="pricing-table-header color-white">
                                <h2 class="weight-bold">Premium Edition</h2>
                            </div>
                            <div class="pricing-table-price color-white">
                                <h4>
                                    <span class="currency">$</span>9.99<span class="interval">/mo</span>
                                </h4>
                            </div>
                            <ul class="pricing-table-options color-white">
                                <li>HiFi Sound Quality</li>
                                <li>On/Offline Listening</li>
                                <li>No Advertising</li>
                                <li>Infinite Song Plays</li>
                                <li>100K Video Play Limit</li>
                            </ul>
                            <div class="pricing-table-footer">
                                <button class="border-white bkg-hover-white color-white color-hover-theme">Sign Up</button>
                            </div>
                        </div>
                        <div class="pricing-table-column">
                            <div class="pricing-table-header">
                                <h2 class="weight-bold">Pro Edition</h2>
                            </div>
                            <div class="pricing-table-price color-grey">
                                <h4>
                                    <span class="currency">$</span>19.99<span class="interval">/mo</span>
                                </h4>
                            </div>
                            <ul class="pricing-table-options">
                                <li>HiFi Sound Quality</li>
                                <li>On/Offline Listening</li>
                                <li>No Advertising</li>
                                <li>Infinite Song Plays</li>
                                <li>300K Video Plays</li>
                            </ul>
                            <div class="pricing-table-footer">
                                <button class="border-theme bkg-hover-theme color-theme color-hover-white">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column width-10 offset-1 center">
                    <p class="opacity-05 weight-bold">*Sign up for free - Upgrade to or Cancel any plan within 30 days</p>
                </div>
            </div>
        </section> -->
        <!-- Pricing Options End -->

    </div>
    <!-- Content End -->