<% layout('layouts/second') -%>
		<!-- Content -->
        <div class="content clearfix">

            	<!-- Full Width Slider Section -->
				<section class="section-block featured-media page-intro tm-slider-parallax-container">
					<div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140" data-scale-min-height="300">
						<ul class="tms-slides">
							<li class="tms-slide" data-image data-as-bkg-image data-force-fit>
								<div class="tms-content">
									<div class="tms-content-inner left">
										<div class="row">
											<div class="column width-12 center">
												<h1 class="tms-caption color-white text-center inline"
													data-animate-in="preset:slideInUpShort;duration:1000ms;delay:100ms;"
													data-no-scale
												>
													Notre Equipe
												</h1>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/services.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
						</ul>
					</div>
				</section>
				<!-- Full Width Slider Section -->


       <section class="section-block replicable-content">
        <div class="row flex">
           
            <div class="column width-6">
                <div class="column width-6">
                    <div class="grid-item design photography">
                        <div class="thumbnail overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#072238" data-hover-bkg-opacity="0.9">
                            <a class="overlay-link no-page-fade" href="#">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info color-white">
                                    <span class=" member__info">
                                        <span class="member__title">
                                            NAWFAL HAKIMI
                                        </span>
                                        <h6 class="member__position">
                                            Company manager
                                        </h6>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column width-6">
                    <div class="grid-item design photography">
                        <div class="thumbnail overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#072238" data-hover-bkg-opacity="0.9">
                            <a class="overlay-link no-page-fade" href="#">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info color-white">
                                    <span class=" member__info">
                                        <span class="member__title">
                                            NAWFAL HAKIMI
                                        </span>
                                        <h6 class="member__position">
                                            Company manager
                                        </h6>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column width-6">
                    <div class="grid-item design photography">
                        <div class="thumbnail overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#072238" data-hover-bkg-opacity="0.9">
                            <a class="overlay-link no-page-fade" href="#">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info color-white">
                                    <span class=" member__info">
                                        <span class="member__title">
                                            NAWFAL HAKIMI
                                        </span>
                                        <h6 class="member__position">
                                            Company manager
                                        </h6>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column width-6">
                    <div class="grid-item design photography">
                        <div class="thumbnail overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#072238" data-hover-bkg-opacity="0.9">
                            <a class="overlay-link no-page-fade" href="#">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info color-white">
                                    <span class=" member__info">
                                        <span class="member__title">
                                            NAWFAL HAKIMI
                                        </span>
                                        <h6 class="member__position">
                                            Company manager
                                        </h6>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column width-6">
                <div class="grid-item design photography">
                    <div class="thumbnail overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#072238" data-hover-bkg-opacity="0.9">
                        <a class="overlay-link no-page-fade" href="#">
                            <img src="images/manager.jpg" alt=""/>
                            <span class="overlay-info color-white">
                                <span class=" member__info">
                                    <span class="member__title">
                                        NAWFAL HAKIMI
                                    </span>
                                    <h6 class="member__position">
                                        Company manager
                                    </h6>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row flex">
            <div class="column width-6">
                <div class="grid-item design photography">
                    <div class="thumbnail overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#072238" data-hover-bkg-opacity="0.9">
                        <a class="overlay-link no-page-fade" href="#">
                            <img src="images/manager.jpg" alt=""/>
                            <span class="overlay-info color-white">
                                <span class=" member__info">
                                    <span class="member__title">
                                        NAWFAL HAKIMI
                                    </span>
                                    <h6 class="member__position">
                                        Company manager
                                    </h6>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="column width-6">
                <div class="column width-6">
                    <div class="grid-item design photography">
                        <div class="thumbnail overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#072238" data-hover-bkg-opacity="0.9">
                            <a class="overlay-link no-page-fade" href="#">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info color-white">
                                    <span class=" member__info">
                                        <span class="member__title">
                                            NAWFAL HAKIMI
                                        </span>
                                        <h6 class="member__position">
                                            Company manager
                                        </h6>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column width-6">
                    <div class="grid-item design photography">
                        <div class="thumbnail overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#072238" data-hover-bkg-opacity="0.9">
                            <a class="overlay-link no-page-fade" href="#">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info color-white">
                                    <span class=" member__info">
                                        <span class="member__title">
                                            NAWFAL HAKIMI
                                        </span>
                                        <h6 class="member__position">
                                            Company manager
                                        </h6>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column width-6">
                    <div class="grid-item design photography">
                        <div class="thumbnail overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#072238" data-hover-bkg-opacity="0.9">
                            <a class="overlay-link no-page-fade" href="#">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info color-white">
                                    <span class=" member__info">
                                        <span class="member__title">
                                            NAWFAL HAKIMI
                                        </span>
                                        <h6 class="member__position">
                                            Company manager
                                        </h6>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column width-6">
                    <div class="grid-item design photography">
                        <div class="thumbnail overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#072238" data-hover-bkg-opacity="0.9">
                            <a class="overlay-link no-page-fade" href="#">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info color-white">
                                    <span class=" member__info">
                                        <span class="member__title">
                                            NAWFAL HAKIMI
                                        </span>
                                        <h6 class="member__position">
                                            Company manager
                                        </h6>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
       </section>


    

        </div>
        <!-- Content End -->

     