<% layout('layouts/second') -%>
		<!-- Content -->
        <div class="content clearfix">

        <!-- Full Width Slider Section -->
        <section class="section-block featured-media page-intro tm-slider-parallax-container">
            <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140" data-scale-min-height="300">
                <ul class="tms-slides">
                    <li class="tms-slide" data-image data-as-bkg-image data-force-fit>
                        <div class="tms-content">
                            <div class="tms-content-inner left bk-overlay">
                                <div class="row">
                                    <div class="column width-12 center">
                                        <h1 class="tms-caption color-white text-center text-uppercase inline"
                                            data-animate-in="preset:slideInUpShort;duration:1000ms;delay:100ms;"
                                            data-no-scale
                                        >
                                            Notre Equipe
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img data-src="images/services.jpg" data-retina src="images/blank.png" alt=""/>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Full Width Slider Section -->
       <section class="section-block replicable-content">
        <div class="row flex">
           
            <div class="column width-6">
                <div class="column width-6">
                    <div class="grid-item design photography">
                        <div class="thumbnail overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#072238" data-hover-bkg-opacity="0.9">
                            <a class="overlay-link no-page-fade" href="#">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info color-white">
                                    <span class=" member__info">
                                        <span class="member__title">
                                            NAWFAL HAKIMI
                                        </span>
                                        <h6 class="member__position">
                                            Company manager
                                        </h6>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column width-6">
                    <div class="grid-item design photography">
                        <div class="thumbnail overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#072238" data-hover-bkg-opacity="0.9">
                            <a class="overlay-link no-page-fade" href="#">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info color-white">
                                    <span class=" member__info">
                                        <span class="member__title">
                                            NAWFAL HAKIMI
                                        </span>
                                        <h6 class="member__position">
                                            Company manager
                                        </h6>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column width-6">
                    <div class="grid-item design photography">
                        <div class="thumbnail overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#072238" data-hover-bkg-opacity="0.9">
                            <a class="overlay-link no-page-fade" href="#">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info color-white">
                                    <span class=" member__info">
                                        <span class="member__title">
                                            NAWFAL HAKIMI
                                        </span>
                                        <h6 class="member__position">
                                            Company manager
                                        </h6>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column width-6">
                    <div class="grid-item design photography">
                        <div class="thumbnail overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#072238" data-hover-bkg-opacity="0.9">
                            <a class="overlay-link no-page-fade" href="#">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info color-white">
                                    <span class=" member__info">
                                        <span class="member__title">
                                            NAWFAL HAKIMI
                                        </span>
                                        <h6 class="member__position">
                                            Company manager
                                        </h6>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column width-6">
                <div class="grid-item design photography">
                    <div class="thumbnail overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#072238" data-hover-bkg-opacity="0.9">
                        <a class="overlay-link no-page-fade" href="#">
                            <img src="images/manager.jpg" alt=""/>
                            <span class="overlay-info color-white">
                                <span class=" member__info">
                                    <span class="member__title">
                                        NAWFAL HAKIMI
                                    </span>
                                    <h6 class="member__position">
                                        Company manager
                                    </h6>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row flex">
            <div class="column width-6">
                <div class="grid-item design photography">
                    <div class="thumbnail overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#072238" data-hover-bkg-opacity="0.9">
                        <a class="overlay-link no-page-fade" href="#">
                            <img src="images/manager.jpg" alt=""/>
                            <span class="overlay-info color-white">
                                <span class=" member__info">
                                    <span class="member__title">
                                        NAWFAL HAKIMI
                                    </span>
                                    <h6 class="member__position">
                                        Company manager
                                    </h6>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="column width-6">
                <div class="column width-6">
                    <div class="grid-item design photography">
                        <div class="thumbnail overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#072238" data-hover-bkg-opacity="0.9">
                            <a class="overlay-link no-page-fade" href="#">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info color-white">
                                    <span class=" member__info">
                                        <span class="member__title">
                                            NAWFAL HAKIMI
                                        </span>
                                        <h6 class="member__position">
                                            Company manager
                                        </h6>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column width-6">
                    <div class="grid-item design photography">
                        <div class="thumbnail overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#072238" data-hover-bkg-opacity="0.9">
                            <a class="overlay-link no-page-fade" href="#">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info color-white">
                                    <span class=" member__info">
                                        <span class="member__title">
                                            NAWFAL HAKIMI
                                        </span>
                                        <h6 class="member__position">
                                            Company manager
                                        </h6>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column width-6">
                    <div class="grid-item design photography">
                        <div class="thumbnail overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#072238" data-hover-bkg-opacity="0.9">
                            <a class="overlay-link no-page-fade" href="#">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info color-white">
                                    <span class=" member__info">
                                        <span class="member__title">
                                            NAWFAL HAKIMI
                                        </span>
                                        <h6 class="member__position">
                                            Company manager
                                        </h6>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column width-6">
                    <div class="grid-item design photography">
                        <div class="thumbnail overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#072238" data-hover-bkg-opacity="0.9">
                            <a class="overlay-link no-page-fade" href="#">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info color-white">
                                    <span class=" member__info">
                                        <span class="member__title">
                                            NAWFAL HAKIMI
                                        </span>
                                        <h6 class="member__position">
                                            Company manager
                                        </h6>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
       </section>

       <!-- <div class="section-block grid-container fade-in-progressively full-width no-margins pt-0 bkg-charcoal" data-layout-mode="masonry" data-grid-ratio="1.5" data-animate-filter-duration="700" data-set-dimensions data-animate-resize data-animate-resize-duration="0" data-as-bkg-image>
        <div class="row">
            <div class="column width-12">
                <div class="row grid content-grid-3">
                    <div class="grid-item portrait portraits">
                        <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.4">
                            <a class="overlay-link lightbox-link" data-group="gallery-1" data-image-url="http://sartre.thememountain.com/images/photo-studio/portfolio/grid/no-margins/project-7-lightbox.jpg" href="images/photo-studio/portfolio/grid/no-margins/project-7-lightbox.jpg">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info v-align-bottom left">
                                    <span>
                                        <span>
                                            <span class="text-line bkg-white mb-10"></span>
                                            <span class="project-title color-white">Mora</span>
                                            <span class="project-description color-white">Republik Banana</span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item nature">
                        <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.4">
                            <a class="overlay-link lightbox-link" data-group="gallery-1" data-image-url="http://sartre.thememountain.com/images/photo-studio/portfolio/grid/no-margins/project-2-lightbox.jpg" href="images/photo-studio/portfolio/grid/no-margins/project-2-lightbox.jpg">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info v-align-bottom left">
                                    <span>
                                        <span>
                                            <span class="text-line bkg-white mb-10"></span>
                                            <span class="project-title color-white">Bunker</span>
                                            <span class="project-description color-white">For Le Coq Sportif</span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item portraits">
                        <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.4">
                            <a class="overlay-link lightbox-link" data-group="gallery-1" data-image-url="http://sartre.thememountain.com/images/photo-studio/portfolio/grid/no-margins/project-3-lightbox.jpg" href="images/photo-studio/portfolio/grid/no-margins/project-3-lightbox.jpg">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info v-align-bottom left">
                                    <span>
                                        <span>
                                            <span class="text-line bkg-white mb-10"></span>
                                            <span class="project-title color-white">Gropius</span>
                                            <span class="project-description color-white">For Madrid</span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item fashion">
                        <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.4">
                            <a class="overlay-link lightbox-link" data-group="gallery-1" data-image-url="http://sartre.thememountain.com/images/photo-studio/portfolio/grid/no-margins/project-4-lightbox.jpg" href="images/photo-studio/portfolio/grid/no-margins/project-4-lightbox.jpg">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info v-align-bottom left">
                                    <span>
                                        <span>
                                            <span class="text-line bkg-white mb-10"></span>
                                            <span class="project-title color-white">Jayden Adams</span>
                                            <span class="project-description color-white">For Higher</span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item animals">
                        <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.4">
                            <a class="overlay-link lightbox-link" data-group="gallery-1" data-image-url="http://sartre.thememountain.com/images/photo-studio/portfolio/grid/no-margins/project-5-lightbox.jpg" href="images/photo-studio/portfolio/grid/no-margins/project-5-lightbox.jpg">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info v-align-bottom left">
                                    <span>
                                        <span>
                                            <span class="text-line bkg-white mb-10"></span>
                                            <span class="project-title color-white">Farnsworth</span>
                                            <span class="project-description color-white">For Nightly</span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item wide nature">
                        <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.4">
                            <a class="overlay-link lightbox-link" data-group="gallery-1" data-image-url="http://sartre.thememountain.com/images/photo-studio/portfolio/grid/no-margins/project-6-lightbox.jpg" href="images/photo-studio/portfolio/grid/no-margins/project-6-lightbox.jpg">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info v-align-bottom left">
                                    <span>
                                        <span>
                                            <span class="text-line bkg-white mb-10"></span>
                                            <span class="project-title color-white">Natura</span>
                                            <span class="project-description color-white">For Nat Geo</span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item grid-sizer portrait portraits">
                        <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.4">
                            <a class="overlay-link lightbox-link" data-group="gallery-1" data-image-url="http://sartre.thememountain.com/images/photo-studio/portfolio/grid/no-margins/project-1-lightbox.jpg" href="images/photo-studio/portfolio/grid/no-margins/project-1-lightbox.jpg">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info v-align-bottom left">
                                    <span>
                                        <span>
                                            <span class="text-line bkg-white mb-10"></span>
                                            <span class="project-title color-white">Water Buffalo</span>
                                            <span class="project-description color-white">For Nature</span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item nature">
                        <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.4">
                            <a class="overlay-link lightbox-link" data-group="gallery-1" data-image-url="http://sartre.thememountain.com/images/photo-studio/portfolio/grid/no-margins/project-8-lightbox.jpg" href="images/photo-studio/portfolio/grid/no-margins/project-8-lightbox.jpg">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info v-align-bottom left">
                                    <span>
                                        <span>
                                            <span class="text-line bkg-white mb-10"></span>
                                            <span class="project-title color-white">Brooklyn</span>
                                            <span class="project-description color-white">New York</span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.4">
                            <a class="overlay-link lightbox-link" data-group="gallery-1" data-image-url="http://sartre.thememountain.com/images/photo-studio/portfolio/grid/no-margins/project-8-lightbox.jpg" href="images/photo-studio/portfolio/grid/no-margins/project-9-lightbox.jpg">
                                <img src="images/manager.jpg" alt=""/>
                                <span class="overlay-info v-align-bottom left">
                                    <span>
                                        <span>
                                            <span class="text-line bkg-white mb-10"></span>
                                            <span class="project-title color-white">Jayden</span>
                                            <span class="project-description color-white">Personal Folio</span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    

        </div>
        <!-- Content End -->

     