<% layout('layouts/second') -%>


	<!-- Content -->
    <div class="content clearfix">

        <!-- Fullscreen Sections -->
        <section class="fullscreen-sections-wrapper no-navigation">
            <div class="section-block fullscreen-section background-cover bkg-charcoal">
                <!-- Fullscreen Image -->
                <div class="background-image-wrapper">
                    <div class="background-image fullscreen-bkg-2"></div>
                </div>
                <div class="fullscreen-inner">
                    <div class="row">
                        <div class="column width-6 offset-3 pt-50 center offset-1">
                            <h2 class="mb-30 title-medium no-padding-on-mobile text-uppercase color-white">Email sent!</h2>
                            <p class="color-white">thank you for contacting us !<br>we will respond to your email as soon as possible!</p>
                            <a class="button medium border-white color-white bkg-hover-theme color-hover-white fade-location" href="/">Return Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fullscreen Sections End -->

    </div>
    <!-- Content End -->