<% layout('layouts/second') -%>
		<!-- Content -->
        <div class="content clearfix">

            	<!-- Full Width Slider Section -->
				<section class="section-block featured-media page-intro tm-slider-parallax-container">
					<div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140" data-scale-min-height="300">
						<ul class="tms-slides">
							<li class="tms-slide" data-image data-as-bkg-image data-force-fit>
								<div class="tms-content">
									<div class="tms-content-inner left">
										<div class="row">
											<div class="column width-12 center">
												<h1 class="tms-caption color-white text-center inline"
													data-animate-in="preset:slideInUpShort;duration:1000ms;delay:100ms;"
													data-no-scale
												>
                                                Accompagnement des entreprises
												</h1>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/slider/slider-formation.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
						</ul>
					</div>
				</section>
				<!-- Full Width Slider Section -->


				<div class="section-block pb-0">
					<div class="row">
						<div class="column width-10 offset-1 center">
							<h2>CONSEIL
								& STRATÉGIE</h2>
							<p class="lead  weight-regular mb-70">Les bases d'un véritable accompagnement, c'est d'avoir un conseiller qui vous écoute vraiment, et qui vous aides a definir les bons messages, trouver votre identité et déployer votre image de marque. Cette- collaboration a pour objectif d'être plus visible, cré dible et d'optimiser votre croissance. Elle a également- pour but de vous laisser le temps pour vous concen trer sur votre cœur d'activité. Nous échangeons avec vous pour comprendre les tenants et les aboutissants de vos problématiques et pour vous proposer des- recommandations pertinentes et complètement per sonnalisées.</p>
						</div>
						<div class="column width-12">
							<hr class="mb-70">
						</div>
					</div>
				</div>
				<!-- Intro End -->
				<!-- Basic Feature Columns -->
				<div class="section-block pt-30">
					<div class="row flex">
						<div class="column width-4">
							<div class="feature-column small left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="1">
								<span class="feature-icon icon-upload-to-cloud color-theme"></span>
								<div class="feature-text">
									<h5>Content marketing</h5>
									<p>Nous vous accompagnons dans la création de conte- nus médias dans le but de développer votre entre- prise ou votre marque. Sous forme d'articles, de news, d'infographies, de vidéos, d'enquêtes, de photos, ou

 
										éditoriale appropriée à votre cible pour créer des contenus adaptés et de l'interaction avec vos clients. Nous travaillons avec des rédacteurs qui adaptent leur
										 -
										ticles pertinents dans le cadre d'une stratégie édito- riale et/ou de référencement (SEO).
										Rédaction - Interview - Storytelling – Article
										</p>
								</div>
							</div>
						</div>
						<div class="column width-4">
							<div class="feature-column small left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="1">
								<span class="feature-icon icon-fingerprint color-theme"></span>
								<div class="feature-text">
									<h5>Stratégie</h5>
									<p>C'est le rêve de tout entrepreneur de voir sa marque
										pensé au bon message, au bon visuel et surtout au bon ciblage ?, nous vous accompagnons et étudions quels sont les supports les plus adaptés à vos public, Nous definissons ensuite le bon message et le bon visuel pour décliner votre image en optimisant son apparence.
										</p>
								</div>
							</div>
						</div>
						<div class="column width-4">
							<div class="feature-column small left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:400ms;" data-threshold="1">
								<span class="feature-icon icon-crop color-theme"></span>
								<div class="feature-text">
									<h5>Crop It</h5>
									<p>Nous etudions et analysons votre marche afin de mieux comprendre les attentes de vos clients au travers d'un benchmarck et d'enquêtes quantitatives comme qualitatives, nous analysons et comparons votre marché pour en comprendre le fonctionnement et comment vous rendre performant. Nous disposeront ainsi d'informations detaillees precieuses a exploiter dans la mise en place d'une strategie marketing ciblee </p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Basic Feature Columns End -->



					<!-- Full Width Boxed Feature Columns -->
					<div class="section-block pb-0 bkg-grey-ultralight">
						<div class="row">
							<div class="column width-10 offset-1 center">
								<h3 class="mb-50">DIGITAL
									WEB DESIGN & MULTIMÉDIA
									</h3>
							</div>
						</div>
					</div>
					<div class="section-block pt-0 pb-0 feature-column-group">
						<div class="row full-width collapse flex boxes">
							<div class="column width-4 bkg-white">
								<div class="feature-column large center horizon" data-animate-in="preset:scaleIn;duration:1000ms;" data-threshold="1">
									<span class="feature-icon icon-globe color-theme"></span>
									<div class="feature-text">
										<h5>Site internet</h5>
										<p>Du webdesign à l'intégration, nous sommes plus
											designs modernes, ergonomiques et dans l'air du temps. À l'heure du digital, il constitue un levier plus qu'essentiel de votre réussite et doit retranscrire votre image de marque.
											Site   vitrine,   marchand,   événementiel 
											Intégration - Développemen –Référencement naturel - Maintenance, sauvegarde & sécurité
											</p>
									</div>
								</div>
							</div>
							<div class="column width-4 bkg-theme color-white">
								<div class="feature-column large center horizon" data-animate-in="preset:scaleIn;duration:1000ms;delay:200ms;" data-threshold="1">
									<span class="feature-icon icon-users color-theme"></span>
									<div class="feature-text">
										<h5>Community manager</h5>
										<p> 
											communiquer autrement. Nous vous aidons à cibler un public adapté et nous vous accompagnons dans cette démarche. Nous développons avec vous
											des contenus pertinents. Notre but est de générer communauté et de créer de l'engagement.
											
											 
											
											 
											publication - Création de planning et animation de communauté - Veille et analyse de l’e- réputation
											
											</p>
									</div>
								</div>
							</div>
							<div class="column width-4 bkg-white ">
								<div class="feature-column large center horizon" data-animate-in="preset:scaleIn;duration:1000ms;delay:400ms;" data-threshold="1">
									<span class="feature-icon icon-laptop color-theme"></span>
									<div class="feature-text">
										<h5>Application métier</h5>
										<p>Nous assurerons la conception, le design et le développement de vos applications pour des solutions clés en main. Les applications sont des outils puissants
	
	 
											Analyse du besoin - Création de CMS sur mesure - User expérience - Hébergement sur mesure
											 
											</p>
									</div>
								</div>
							</div>
							<div class="column width-4 bkg-white offset-4">
								<div class="feature-column large center horizon" data-animate-in="preset:scaleIn;duration:1000ms;delay:400ms;" data-threshold="1">
									<span class="feature-icon icon-mail color-theme"></span>
									<div class="feature-text">
										<h5>Newsletters et e-mailing</h5>
										<p>Lorsqu'il s'agit de capter l'attention de prospects, d'informer les clients sur des actualités liées à
	 
	
	 
	
	 
											envois à partir de votre base de données.
											Création - Intégration - Mise en place d’outils statistiques
											 
											</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Full Width Boxed Feature Columns End -->


				<!-- Trip Section -->
				<div id="trips">

					<!-- Hero Section 5 -->
					<section class="section-block hero-5 hero-5-1 clear-height show-media-column-on-mobile bkg-grey-ultralight">
						<div class="media-column width-6 window-height background-none">
							<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
								<ul class="tms-slides">
									<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="scaleOut">
										<img data-src="images/services/entreprise/drone.jpg" data-retina src="images/blank.png" alt=""/>
									</li>
									<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
										<img data-src="images/services/entreprise/drone.jpg" data-retina src="images/blank.png" alt=""/>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="column width-5 offset-7">
								<div class="hero-content split-hero-content">
									<div class="hero-content-inner left center-on-mobile horizon" data-animate-in="preset:fadeIn;duration:1300ms;" data-threshold="0.5">
										<h2 class="mb-30">Edition papier</h2>
										<p class="lead">Catalogue, carte, plaquette,brochure, flyer,tract,chemise,livret <br> ticket, prospectus… les supports papier conservent des vertus de communication uniques.</p>
										<ul style="list-style-type:none;">
											<li>✓	 Conception</li>
											<li>✓	 rédaction</li>
											<li>✓	Maquette</li>
											<li>✓	Illustration</li>
											<li>✓	Iconographie</li>
											<li>✓	 Fabrication</li>
											<li>✓	Traductions</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="media-column width-6 window-height background-none">
								<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
									<ul class="tms-slides">
										<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
											<img data-src="images/services/entreprise/papier-1.jpg" data-retina src="images/blank.png" alt=""/>
										</li>
										<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideTopBottom">
											<img data-src="images/services/entreprise/papier-2.jpg" data-retina src="images/blank.png" alt=""/>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</section>
					<!-- Hero Section 5 End -->

					<!-- Hero Section 5 -->
					<section class="section-block hero-5 hero-5-1 clear-height right show-media-column-on-mobile bkg-theme">
						<div class="media-column width-6 window-height background-none">
							<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
								<ul class="tms-slides">
									<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
										<img data-src="images/services/entreprise/packaging-2.jpg" data-retina src="images/blank.png" alt=""/>
									</li>
									<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideTopBottom">
										<img data-src="images/services/entreprise/packaging.jpg" data-retina src="images/blank.png" alt=""/>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="column width-5">
								<div class="hero-content split-hero-content">
									<div class="hero-content-inner left center-on-mobile horizon" data-animate-in="preset:fadeIn;duration:1300ms;" data-threshold="0.5">
										<div class="color-white">
											<h2 class="mb-30">Packaging</h2>
											<p class="lead">Attirer, séduire, convaincre, être référencé, implanter, promouvoir… votre packaging est votre premier outil de <br> communication pour vendre bien, vendre mieux, vendre plus!</p>
											<ul style="list-style-type:none;">
												<li>✓ Accompagnement marketing </li>
												<li>✓ Conception </li>
												<li>✓ Recherche formes, matéreaux </li>
												<li>✓ Création graphique </li>
												<li>✓ Photos produits </li>
												<li>✓  Notice d’utilisation </li>
												<li>✓ Fabrication </li>
											</ul>	
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
				<!-- Trip Section End -->


			    <!--Tabs Style 2 -->
				<div class="section-block pt-60 pb-10 ">
					<div class="row">
						<div class="column width-5 images">
							<div class="feature-image mb-mobile-50 " >
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
									<img src="images/services/communication-marketing/etude-project.jpg" id="tab1-img" alt="" />
								</div>
							</div>
							<div class="feature-image mb-mobile-50 " id="img2">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
									<img src="images/services/communication-marketing/community.jpg" id="tab2-img" alt="" />
								</div>
							</div>
							<div class="feature-image mb-mobile-50 " id="img3">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
									<img src="images/services/communication-marketing/finance.jpg" id="tab3-img" alt="" />
								</div>
							</div>
							<div class="feature-image mb-mobile-50 " id="img4">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
									<img src="images/services/communication-marketing/invest.jpg" id="tab4-img" alt="" />
								</div>
							</div>
							<div class="feature-image mb-mobile-50 " id="img5">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
									<img src="images/services/communication-marketing/realisation.jpg" id="tab5-img" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-7 ">
							<div class="tabs style-2 left">
								<ul class="tab-nav flex" >
									<li class="active" id="tab1">
										<a href="#tabs-4-pane-1" >etude de projet</a>
									</li>
									<li id="tab2">
										<a href="#tabs-4-pane-2">CREATION DE SOCIETE</a>
									</li>
									<li id="tab3">
										<a href="#tabs-4-pane-3">DOSSIER DE FINANCEMENT</a>
									</li>
									<li id="tab4">
										<a href="#tabs-4-pane-4">AIDES AUX INVESTISSEURS</a>
									</li>
									<li id="tab5">
										<a href="#tabs-4-pane-5">RÉALISATION DES PROJETS</a>
									</li>
								</ul>
								<div class="tab-panes">
									<div id="tabs-4-pane-1" class="active animate">
										<div class="tab-content">
											<ul style="list-style-type:none;"
												<li>✓ Développement d’idées</li>
												<li>✓ Finalisation de concept</li>
												<li>✓ Analyse des secteurs et activités profitables</li>
												<li>✓ Proposition de projets</li>
											</ul>
										</div>
									</div>
									<div id="tabs-4-pane-2">
										<div class="tab-content">
											<ul style="list-style-type:none;"
											<li>✓ Information</li>
											<li>✓ Orientation</li>
											<li>✓ Accompagnement </li>
											<li>✓ Concrétisation de la création juridique fiscale et sociale de l’entreprise</li>
										</ul>	
										</div>
									</div>
									<div id="tabs-4-pane-3">
										<div class="tab-content">
											<ul style="list-style-type:none;"
												<li>✓ Recherche de fonds et investisseurs</li>
												<li>✓ Négociation avec les banques et organismes de crédits</li>
										</ul>
										</div>
									</div>
									<div id="tabs-4-pane-4">
										<div class="tab-content">
											<ul style="list-style-type:none;"
												<li>✓ Informations</li>
												<li>✓ Demandes d autorisations administratives pour réaliser le projet</li>
												<li>✓ Projet de convention avec l’état</li>
												<li>✓ Programmes avec l’état</li>
												<li>✓ subventions</li>
												<li>✓ subventions</li>
												<li>✓ Prospection et choix des terrains</li>
												<li>✓ Demande d’autorisation pour réaliser le projet</li>
												<li>✓ Acquisition ou location de terrains relevant de domaine privé de l état</li>
												<li>✓ Occupation des domaines forestier, domaine public de l état</li>
												<li>✓ Accompagner le promoteur pour faciliter et activer l’obtention des diverses autorisation</li>
										</ul>
										</div>
									</div>
									<div id="tabs-4-pane-5">
										<div class="tab-content">
											<ul style="list-style-type:none;"
												<li>✓ Planification</li>
												<li>✓ Installation</li>
												<li>✓ Pilotage</li>
												<li>✓ Production</li>
												<li>✓ Marketing</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					

				<!-- slider -->
				<!-- Hero Slider -->
				<div class="section-block pt-60 pb-0">
					<div class="hero-slider tm-slider-container" data-width="2500" data-height="1600" data-scale-min-height="700" data-auto-advance data-auto-advance-interval="5000" data-nav-dark data-nav-keyboard="false" data-progress-bar="false" data-pause-on-hover="true"> 
						<ul class="tms-slides">
							<li class="tms-slide bkg-grey-ultralight right" data-image data-as-bkg-image data-image-wrapper="media-column" data-nav-dark>
								<div class="media-column width-6"></div>
								<div class="row">
									<div class="tms-caption hero-content split-hero-content column width-5 no-transition" data-no-scale>
										<div class="hero-content-inner left">
											<div class="tms-content-scalable">
												<h3 class="mb-40">Gestion de production</h3>
												<ul style="list-style-type:none;">
													<li>✓ Etablissement de cahier de charge</li>
													<li>✓ Fiche technique des produits</li>
													<li>✓ Suivi et contrôle de production centralisé</li>
													<li>✓ Etude de cout de revient</li>
													<li>✓ Organisation et optimisation de la production</li>
													<li>✓ Contrôle de la qualité</li>
												</ul>	
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/services/communication-marketing/productivity.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
							<li class="tms-slide" data-image data-as-bkg-image data-force-fit>
								<div class="tms-caption hero-content split-hero-content column width-5 offset-1 no-transition" data-no-scale>
									<div class="hero-content-inner">
										<div class="tms-content-scalable color-white">
											<div class="row">
												<div class="column width-10 offset-1">
													<h3 class="mb-40">Gestion de marketing</h3>
													<ul style="list-style-type:none;">
														<li>✓	Définition de la politique et de l'organisation commerciale</li>
														<li>✓	Statistiques commerciales</li>
														<li>✓	Etude de cout de distribution, de marge et de prix de vente </li>
														<li>✓	Etude de marché et définition des cibles</li>
														<li>✓	Conception carte de visite, catalogue, brochures, flyers, site web</li>
														<li> ✓	Communication et publicité</li>
														<li>✓	La veille constante sur l'image de marque des produits</li>
														<li>✓	Réaliser une veille concurrentielle sur le marché</li>
														<li>✓	Suivi des clients et fidélisation</li>
													</ul>

												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/services/communication-marketing/marketing.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
							<li class="tms-slide bkg-grey-ultralight right" data-image data-as-bkg-image data-image-wrapper="media-column" data-nav-dark>
								<div class="media-column width-6"></div>
								<div class="row">
									<div class="tms-caption hero-content split-hero-content column width-5 no-transition" data-no-scale>
										<div class="hero-content-inner left">
											<div class="tms-content-scalable">
												<h3 class="mb-40">Management des ressources humaines</h3>
												<ul style="list-style-type:none;">
													<li>✓ Conseil en recrutement</li>
													<li>✓ Un recrutement adapté aux besoins de chaque entreprise</li>
													<li>✓ Etude et rédaction des contrats de travail</li>
													<li>✓ Une prise en charge complète de l'administration des salaires et des traitements</li>
													<li>✓ Déclaration sociales (CNSS)</li>
												</ul>	
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/services/communication-marketing/human-resource.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
							<li class="tms-slide" data-image data-as-bkg-image data-force-fit>
								<div class="tms-caption hero-content split-hero-content column width-5 offset-1 no-transition" data-no-scale>
									<div class="hero-content-inner">
										<div class="tms-content-scalable color-white">
											<div class="row">
												<div class="column width-10 offset-1">
													<h3 class="mb-40">Management d'organisation</h3>
													<ul style="list-style-type:none;">
														<li>✓	Analyse et restructuration de l'organigramme </li>
														<li>✓	Organigramme, structure et définition de fonctions </li>
														<li>✓	Analyse des procédures et du contrôle interne</li>
														<li>✓	Organisation administrative</li>
													</ul>

												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/services/communication-marketing/organisation.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
							<li class="tms-slide bkg-grey-ultralight right" data-image data-as-bkg-image data-image-wrapper="media-column" data-nav-dark>
								<div class="media-column width-6"></div>
								<div class="row">
									<div class="tms-caption hero-content split-hero-content column width-5 no-transition" data-no-scale>
										<div class="hero-content-inner left">
											<div class="tms-content-scalable">
												<h3 class="mb-40">Anglais professionnel</h3>
												<ul style="list-style-type:none;">
													<li>✓ Cours de perfectionnement</li>
													<li>✓ Anglais de conversation</li>
													<li>✓ Anglais : finance, comptabilité, marketing, management et autres</li>
												</ul>	
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/services/communication-marketing/english-pro.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
							<li class="tms-slide" data-image data-as-bkg-image data-force-fit>
								<div class="tms-caption hero-content split-hero-content column width-5 offset-1 no-transition" data-no-scale>
									<div class="hero-content-inner">
										<div class="tms-content-scalable color-white">
											<div class="row">
												<div class="column width-10 offset-1">
													<h3 class="mb-40">Coaching scientifique</h3>
													<ul style="list-style-type:none;">
														<li>✓ Marketing</li>
														<li>✓ Ressources humaines</li>
														<li>✓ Gestion entreprises</li>
														<li>✓ Secrétariat</li>
														<li>✓ Relations publiques</li>
													</ul>

												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/services/communication-marketing/coaching.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
							<li class="tms-slide bkg-grey-ultralight right" data-image data-as-bkg-image data-image-wrapper="media-column" data-nav-dark>
								<div class="media-column width-6"></div>
								<div class="row">
									<div class="tms-caption hero-content split-hero-content column width-5 no-transition" data-no-scale>
										<div class="hero-content-inner left">
											<div class="tms-content-scalable">
												<h3 class="mb-40">Formation Informatique</h3>
												<ul style="list-style-type:none;">
													<li>✓ Maintenance et réparation</li>
													<li>✓ Réseaux</li>
													<li>✓ Développement logiciel</li>
												</ul>	
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/services/communication-marketing/info.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
						</ul>
					</div>
				</div>
				<!-- Hero Slider End -->

				<!-- Feature Column Section -->
				<div class="section-block replicable-content">
					<div class="row">
						<div class="column width-12 horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="1">
							<h3 class="mb-30"> architecture <br> d'interieurs <br> & Amenagement</h3>
						</div>
					</div>
					<div class="row">
						<div class="column width-9 offset-3">
							<div class="row">
								<div class="column width-6">
									<div class="feature-column small left">
										<span class="feature-icon icon-area-graph color-black"></span>
										<div class="feature-text">
											<h5 class=" weight-bold">Plan 3D</h5>
											<p class="mb-70 mb-mobile-30">A fun d'avoir un apercu de votre conception finale, on s'engage a vous disposer un plan ou une illustration en 3D de votre projet</p>
										</div>
									</div>
								</div>
								<div class="column width-6">
									<div class="feature-column small left">
										<span class="feature-icon icon-fingerprint color-black"></span>
										<div class="feature-text">
											<h5 class=" weight-bold">Renovation</h5>
											<p class="mb-70 mb-mobile-30">Ameliorez la comprehension de vos plans de vente et mettre nos retouvhes d'innovation et donner une autre vie pour le chantier </p>
										</div>
									</div>
								</div>
								<div class="column width-6">
									<div class="feature-column small left">
										<span class="feature-icon icon-paper-plane color-black"></span>
										<div class="feature-text">
											<h5 class=" weight-bold">Realisation</h5>
											<p>Valoriser et optimiser botre interieur avec l'aide d'un architecte d'interieur et toutes l'equipe</p>
										</div>
									</div>
								</div>
								<div class="column width-6">
									<div class="feature-column small left">
										<span class="feature-icon icon-ruler color-black"></span>
										<div class="feature-text">
											<h5 class=" weight-bold">Decoration</h5>
											<p>Decorer votre appartement et mettre une retouches finales specialises par un architecte</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Feature Column Section End -->


				
               <!-- Feature Section 2 -->
               <section id="vision" class="section-block feature-2 bkg-charcoal">
                <div class="row flex">
                    <div class="column width-6 push-6">
                        <div class="feature-image mb-mobile-50">
                            <div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000;" data-threshold="0.6">
                                <img src="images/services/entreprise/press.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="column width-5 pull-6 pull-1">
                        <div class="feature-content">
                            <div class="feature-content-inner horizon" data-animate-in="preset:slideInUpShort;duration:1000;delay:300ms;" data-threshold="0.6">
                                <h2 class="color-white">Relations presse</h2>
                                <p class="color-grey-light">Mise en relation avec les journalistes locaux, régionaux,
									nationaux et internationaux, communiquer sur votre marque
									auprès des médias.
									.</p>
									<br>
									<ul style="list-style-type:none;"
									<li>✓ Ciblage presse</li>
									<li>✓ Contacts rédaction</li>
									<li>✓ Communiqué de presse</li>
									<li>✓ Conférence de presse</li>
									<li>✓ Relance</li>
									<li>✓ Suivi</li>
									<li>✓ Pige</li>
								</ul>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Feature Section 2 End -->






					<!-- Features -->
					<section id="features" class="section-block bkg-grey-ultralight">
						<div class="row">
							<div class="column width-12 left">
								<h2 class="mb-50">Nos valeurs</h2>
								<p>LA CRÉATIVITÉ EST CONTAGIEUSE. FAITES LA TOURNER.</p>
							</div>
						</div>
						<div class="row flex">
							<div class="column width-4">
								<div class="feature-column medium left">
									<span class="feature-icon icon-colours medium color-charcoal"></span>
									<div class="feature-text">
										<h6 class="weight-bold text-uppercase">RÉACTIVITÉ</h6>
										<p>Notre équipe  passe  très  rapidement  à  l'action.  C'est
											certainement notre plus grande force.
											Une fois vos idées consommées, nos esprits créatifs passent à l'action afin de respecter vos délais. Nous savons travailler dans l'urgence, mais toujours avec énormément de rigueur et de professionnalisme.
											 </p>
									</div>
								</div>
							</div>
							<div class="column width-4">
								<div class="feature-column medium left">
									<span class="feature-icon icon-play medium color-charcoal"></span>
									<div class="feature-text">
										<h6 class="weight-bold text-uppercase">ÉCOUTE</h6>
										<p>Mieux vous connaître, c'est mieux comprendre vos besoins
											et vos envies. Constatez l'évolution de votre projet et donnez votre ressenti à une équipe qui sait écouter. C'est ensemble que nous arriverons au but visé.
											 </p>
									</div>
								</div>
							</div>
						
							<div class="column width-4">
								<div class="feature-column medium left">
									<span class="feature-icon icon-adjust medium color-charcoal"></span>
									<div class="feature-text">
										<h6 class="weight-bold text-uppercase">CRÉATIVITÉ</h6>
										<p>Etre créatif, ce n'est pas un métier, c'est inné. Notre équipe
											de créatifs aime trouver et mettre en place des solutions pour des projets toujours plus innovants. Nous sommes passionnés par les métiers graphiques et nous prenons énormément de plaisir à créer des visuels modernes, dynamiques, en prenant soin de coller à votre image.
											 </p>
									</div>
								</div>
							</div>
							<div class="column width-4 offset-2">
								<div class="feature-column medium left">
									<span class="feature-icon icon-feather medium color-charcoal"></span>
									<div class="feature-text">
										<h6 class="weight-bold text-uppercase">QUALITÉ</h6>
										<p>Perfectionnistes dans l'âme, nous pensons que les petits
											détails feront la différence. Nous passons au peigne fin votre création et nous prenons soin de livrer un travail de qualité quels que soient les délais de réalisations.
										 </p>
									</div>
								</div>
							</div>
							<div class="column width-4">
								<div class="feature-column medium left">
									<span class="feature-icon icon-crop medium color-charcoal"></span>
									<div class="feature-text">
										<h6 class="weight-bold text-uppercase">Light Adjustments</h6>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- Features -->


				
				<!-- ================================ -->


					<!-- Trip Section -->
					<div id="trips">

						<!-- Hero Section 5 -->
						<section class="section-block hero-5 hero-5-1 clear-height show-media-column-on-mobile bkg-grey-ultralight">
							<div class="media-column width-6 window-height background-none">
								<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
									<ul class="tms-slides">
										<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="scaleOut">
											<img data-src="images/services/entreprise/drone.jpg" data-retina src="images/blank.png" alt=""/>
										</li>
										<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
											<img data-src="images/services/entreprise/drone.jpg" data-retina src="images/blank.png" alt=""/>
										</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="column width-5 offset-7">
									<div class="hero-content split-hero-content">
										<div class="hero-content-inner left center-on-mobile horizon" data-animate-in="preset:fadeIn;duration:1300ms;" data-threshold="0.5">
											<h2 class="mb-30">STUDIO AUDIOVISUEL PHOTO - SON</h2>
											<h2 class="mb-30">VIDÉOS & PHOTOS</h2>
											<p class="lead">GO MARKETING, offre un service de prises de vues aériennes par drones pour votre projet. et Assure une précision des cadres et des mouvements.</p>
											<ul style="list-style-type:none;">
												<li >✓	Presentation de produit</li>
												<li>✓	 Evenementiel</li>
												<li>✓	 Architecture</li>
												<li>✓	Shooting</li>
												<li>✓	 Vue Aerienne</li>
												<li>✓	Photocall</li>
												<li>✓	  Seminaire</li>
												<li>✓	  Orporate</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="media-column width-6 window-height background-none">
									<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
										<ul class="tms-slides">
											<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
												<img data-src="images/services/entreprise/camera.jpg" data-retina src="images/blank.png" alt=""/>
											</li>
											<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideTopBottom">
												<img data-src="images/services/entreprise/camera-2.jpg" data-retina src="images/blank.png" alt=""/>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</section>
						<!-- Hero Section 5 End -->
	
						<!-- Hero Section 5 -->
						<section class="section-block hero-5 hero-5-1 clear-height right show-media-column-on-mobile bkg-theme">
							<div class="media-column width-6 window-height background-none">
								<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
									<ul class="tms-slides">
										<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
											<img data-src="images/services/entreprise/drone.jpg" data-retina src="images/blank.png" alt=""/>
										</li>
										<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideTopBottom">
											<img data-src="images/services/entreprise/drone-2.jpg" data-retina src="images/blank.png" alt=""/>
										</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="column width-5">
									<div class="hero-content split-hero-content">
										<div class="hero-content-inner left center-on-mobile horizon" data-animate-in="preset:fadeIn;duration:1300ms;" data-threshold="0.5">
											<div class="color-white">
												<h2 class="mb-30">DRONES</h2>
												<p class="lead">L'agence GO MARKETING, vous accompagne et vous conseille dans la réalisation et la production de votre projet Vidéos & Photos</p>
												<ul style="list-style-type:none;">
													<li>✓ Video Institutionnelle</li>
													<li>✓ Presentation de  produit film publicitaire </li>
													<li>✓ Video de formation </li>
													<li>✓ Video Evenementiel </li>
													<li>✓ Clip video </li>
													<li>✓ Suivi de chantier </li>
													<li>✓ Motion design</li>
													<li>✓  Spot pub</li>
													<li>✓ Cinema afterMovie</li>
												</ul>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
					<!-- Trip Section End -->


					<!-- Hero Section 5 -->
					<section class="section-block hero-5 hero-5-1 clear-height show-media-column-on-mobile bkg-grey-ultralight">
						<div class="media-column width-6 window-height background-none">
							<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
								<ul class="tms-slides">
									<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="scaleOut">
										<img data-src="images/services/entreprise/drone.jpg" data-retina src="images/blank.png" alt=""/>
									</li>
									<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
										<img data-src="images/services/entreprise/drone.jpg" data-retina src="images/blank.png" alt=""/>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="column width-5 offset-7">
								<div class="hero-content split-hero-content">
									<div class="hero-content-inner left center-on-mobile horizon" data-animate-in="preset:fadeIn;duration:1300ms;" data-threshold="0.5">
										<h2 class="mb-30">EVÈNEMENTIEL & ESPACE STAND</h2>
										<p class="lead text-medium">sortir de l'ordinaire, tisser le fil conducteur et veiller à chaque détail, conjuguer scène festive et coulisses rigoureuses pour que vous vous consacriez rigoureuses pour que vous vous consacriez uniquement à vos invités. Optimiser l'espace, communiquer en 3 dimensions, sortir, rencontrer et aussi poncer, peindre, monter, éclairer….</p>
										<ul style="list-style-type:none;">
											<li>✓	 Organiser votre road show dans plusieurs villes de France pour aller à la rencontre de votre public.</li>
											<br>
											<li>✓	 Piloter la conception, le montage et la réalisation de vos conventions, congrès et rendez–vous business.</li>
											<br>
											<li>✓	Elaborer vos programmes éditoriaux et d’information à travers la sélection des thématiques et des intervenants.</li>
											<br>
											<li>✓	 Vue Dynamiser votre stand sur un salon, du design jusqu'à l'aménagement.</li>
											<br>
											<li>✓   Concevoir vos campagnes de communication multicanales </li>
											<br>
											<li>✓	  Recruter l’ensemble de vos participants,visiteurs, intervenants, partenaires, journalistes…</li>
											<br>
											<li>✓	  Imaginer des concepts originaux pour rencontrer et engager vos clients. Petits déjeuners, soirées, voyages incentives…</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="media-column width-6 window-height background-none">
								<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
									<ul class="tms-slides">
										<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
											<img data-src="images/services/entreprise/event-1.jpg" data-retina src="images/blank.png" alt=""/>
										</li>
										<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideTopBottom">
											<img data-src="images/services/entreprise/event-2.jpg" data-retina src="images/blank.png" alt=""/>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</section>
					<!-- Hero Section 5 End -->

		

				            
			<!-- Custom Feature Columns -->
			<!-- <section class="section-block replicable-content bkg-grey-ultralight">
				<div class="row">
					<div class="column width-10 offset-1 center">
						<h3 class="mb-50">Custom Feature Columns</h3>
					</div>
				</div>
				<div class="row flex">
					<div class="column width-4">
						<div class="feature-column">
							<span class="text-medium weight-light font-alt-1 color-theme">01.</span>
							<h4 class="mb-30">Web Design</h4>
							<p>Use feature columns to highlight key information of one or multiple sections. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
					</div>
					<div class="column width-4">
						<div class="feature-column">
							<span class="text-medium weight-light font-alt-1 color-theme">02.</span>
							<h4 class="mb-30">Print Design</h4>
							<p>Use feature columns to highlight key information of one or multiple sections. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
					</div>
					<div class="column width-4">
						<div class="feature-column">
							<span class="text-medium weight-light font-alt-1 color-theme">03.</span>
							<h4 class="mb-30">Illustration</h4>
							<p>Use feature columns to highlight key information of one or multiple sections. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
					</div>
					<div class="column width-4 offset-4">
						<div class="feature-column">
							<span class="text-medium weight-light font-alt-1 color-theme">03.</span>
							<h4 class="mb-30">Illustration</h4>
							<p>Use feature columns to highlight key information of one or multiple sections. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
					</div>
				</div>
			</section> -->
			<!-- Custom Feature Columns End -->



			



        </div>
        <!-- Content End -->

     