<% layout('layouts/second') -%>
		<!-- Content -->
        <div class="content clearfix">

            	<!-- Full Width Slider Section -->
				<section class="section-block featured-media page-intro tm-slider-parallax-container">
					<div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140" data-scale-min-height="300">
						<ul class="tms-slides">
							<li class="tms-slide" data-image data-as-bkg-image data-force-fit>
								<div class="tms-content">
									<div class="tms-content-inner left bk-overlay">
										<div class="row">
											<div class="column width-12 center">
												<h1 class="tms-caption color-white text-center text-uppercase inline"
													data-animate-in="preset:slideInUpShort;duration:1000ms;delay:100ms;"
													data-no-scale
												>
                                                Accompagnement des entreprises
												</h1>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/slider/slider-formation.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
						</ul>
					</div>
				</section>
				<!-- Full Width Slider Section -->

		<div class="section-block pb-0 bkg-white">
			<div class="row">
				<div class="column width-10 offset-1 center">
					<h3 class="mb-50">
						PROJETS ET INVESTISSEMENT
						</h3>
				</div>
			</div>

			<!--Tabs 1 -->
			<div class="section-block pt-60 pb-10 ">
				<div class="row">
					<div class="column width-5 images1">
						<div class="feature-image mb-mobile-50 " >
							<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
								<img src="images/services/communication-marketing/etude-project.jpg" id="tab1-img" alt="" />
							</div>
						</div>
						<div class="feature-image mb-mobile-50 " id="img2">
							<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
								<img src="images/services/communication-marketing/community.jpg" id="tab2-img" alt="" />
							</div>
						</div>
						<div class="feature-image mb-mobile-50 " id="img3">
							<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
								<img src="images/services/communication-marketing/finance.jpg" id="tab3-img" alt="" />
							</div>
						</div>
						<div class="feature-image mb-mobile-50 " id="img4">
							<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
								<img src="images/services/communication-marketing/invest.jpg" id="tab4-img" alt="" />
							</div>
						</div>
						<div class="feature-image mb-mobile-50 " id="img5">
							<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
								<img src="images/services/communication-marketing/realisation.jpg" id="tab5-img" alt="" />
							</div>
						</div>
					</div>
					<div class="column width-7 ">
						<div class="tabs style-2 left">
							<ul class="tab-nav tab-nav1 flex" >
								<li class="active" id="tab1">
									<a href="#tabs-4-pane-1" >etude de projet</a>
								</li>
								<li id="tab2">
									<a href="#tabs-4-pane-2">CREATION DE SOCIETE</a>
								</li>
								<li id="tab3">
									<a href="#tabs-4-pane-3">DOSSIER DE FINANCEMENT</a>
								</li>
								<li id="tab4">
									<a href="#tabs-4-pane-4">AIDES AUX INVESTISSEURS</a>
								</li>
								<li id="tab5">
									<a href="#tabs-4-pane-5">RÉALISATION DES PROJETS</a>
								</li>
							</ul>
							<div class="tab-panes">
								<div id="tabs-4-pane-1" class="active animate">
									<div class="tab-content">
										<ul style="list-style-type:none;"
											<li>✓ Développement d’idées</li>
											<li>✓ Finalisation de concept</li>
											<li>✓ Analyse des secteurs et activités profitables</li>
											<li>✓ Proposition de projets</li>
										</ul>
									</div>
								</div>
								<div id="tabs-4-pane-2">
									<div class="tab-content">
										<ul style="list-style-type:none;"
										<li>✓ Information</li>
										<li>✓ Orientation</li>
										<li>✓ Accompagnement </li>
										<li>✓ Concrétisation de la création juridique fiscale et sociale de l’entreprise</li>
									</ul>	
									</div>
								</div>
								<div id="tabs-4-pane-3">
									<div class="tab-content">
										<ul style="list-style-type:none;"
											<li>✓ Recherche de fonds et investisseurs</li>
											<li>✓ Négociation avec les banques et organismes de crédits</li>
									</ul>
									</div>
								</div>
								<div id="tabs-4-pane-4">
									<div class="tab-content">
										<ul style="list-style-type:none;"
											<li>✓ Informations</li>
											<li>✓ Demandes d autorisations administratives pour réaliser le projet</li>
											<li>✓ Projet de convention avec l’état</li>
											<li>✓ Programmes avec l’état</li>
											<li>✓ subventions</li>
											<li>✓ subventions</li>
											<li>✓ Prospection et choix des terrains</li>
											<li>✓ Demande d’autorisation pour réaliser le projet</li>
											<li>✓ Acquisition ou location de terrains relevant de domaine privé de l état</li>
											<li>✓ Occupation des domaines forestier, domaine public de l état</li>
											<li>✓ Accompagner le promoteur pour faciliter et activer l’obtention des diverses autorisation</li>
									</ul>
									</div>
								</div>
								<div id="tabs-4-pane-5">
									<div class="tab-content">
										<ul style="list-style-type:none;"
											<li>✓ Planification</li>
											<li>✓ Installation</li>
											<li>✓ Pilotage</li>
											<li>✓ Production</li>
											<li>✓ Marketing</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<!-- ======================================= -->
						
			
		<div class="section-block pb-0 bkg-white">
			<div class="row">
				<div class="column width-10 offset-1 center">
					<h3 class="mb-50">
						GESTION ET MANAGEMENT
						</h3>
				</div>
			</div>
			<!--Tabs 2-->
			<div class="section-block pt-60 pb-10 bkg-grey-ultralight ">
				<div class="row">
					<div class="column width-5 images2">
						<div class="feature-image mb-mobile-50 " id="img6" >
							<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
								<img src="images/services/entreprise/production.jpg" id="tab6-img" alt="" />
							</div>
						</div>
						<div class="feature-image mb-mobile-50 " id="img7">
							<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
								<img src="images/services/entreprise/marketing.jpg" id="tab7-img" alt="" />
							</div>
						</div>
						<div class="feature-image mb-mobile-50 " id="img8">
							<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
								<img src="images/services/entreprise/human.jpg" id="tab8-img" alt="" />
							</div>
						</div>
						<div class="feature-image mb-mobile-50 " id="img9">
							<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
								<img src="images/services/entreprise/organisation.jpg" id="tab9-img" alt="" />
							</div>
						</div>
					</div>
					<div class="column width-7 ">
						<div class="tabs style-2 left">
							<ul class="tab-nav tab-nav2 flex" >
								<li class="active" id="tab6">
									<a href="#tabs-4-pane-6" >GESTION DE PRODUCTION</a>
								</li>
								<li id="tab7">
									<a href="#tabs-4-pane-7">GESTION DE MARKETING</a>
								</li>
								<li id="tab8">
									<a href="#tabs-4-pane-8">MANAGEMENT DE RESSOURCES HUMAINES</a>
								</li>
								<li id="tab9">
									<a href="#tabs-4-pane-9">MANAGEMENT D'ORGANISATION</a>
								</li>
							</ul>
							<div class="tab-panes">
								<div id="tabs-4-pane-6" class="active animate">
									<div class="tab-content">
										<ul style="list-style-type:none;">
											<li>✓ Etablissement de cahier de charge</li>
											<li>✓ Fiche technique des produits</li>
											<li>✓ Suivi et contrôle de production centralisé</li>
											<li>✓ Etude de cout de revient</li>
											<li>✓ Organisation et optimisation de la production</li>
											<li>✓ Contrôle de la qualité</li>
										</ul>
									</div>
								</div>
								<div id="tabs-4-pane-7">
									<div class="tab-content">
										<ul style="list-style-type:none;">
										<li>✓ Définition de la politique et de l'organisation commerciale</li>
										<li>✓ Statistiques commerciales</li>
										<li>✓ Etude de cout de distribution, de marge et de prix de vente  </li>
										<li>✓ Etude de marché et définition des cibles </li>
										<li>✓ Conception carte de visite, catalogue, brochures, flyers, site web </li>
										<li>✓ Communication et publicité </li>
										<li>✓ La veille constante sur l'image de marque des produits </li>
										<li>✓ Réaliser une veille concurrentielle sur le marché </li>
										<li>✓ Suivi des clients et fidélisation </li>
									</ul>	
									</div>
								</div>
								<div id="tabs-4-pane-8">
									<div class="tab-content">
										<ul style="list-style-type:none;">
											<li>✓ Conseil en recrutement </li>
											<li>✓ Un recrutement adapté aux besoins de chaque entreprise  </li>
											<li>✓ Etude et rédaction des contrats de travail </li>
											<li>✓ Une prise en charge complète de l'administration des salaires et des traitements  </li>
											<li>✓ Déclaration sociales (CNSS) </li>
									</ul>
									</div>
								</div>
								<div id="tabs-4-pane-9">
									<div class="tab-content">
										<ul style="list-style-type:none;">
											✓	Analyse et restructuration de l'organigramme 
											✓	Organigramme, structure et définition de fonctions 
											✓	Analyse des procédures et du contrôle interne
											✓	Organisation administrative
											
											<li>✓ Informations</li>
											<li>✓ Demandes d autorisations administratives pour réaliser le projet</li>
											<li>✓ Projet de convention avec l’état</li>
											<li>✓ Programmes avec l’état</li>
											<li>✓ subventions</li>
											<li>✓ subventions</li>
											<li>✓ Prospection et choix des terrains</li>
											<li>✓ Demande d’autorisation pour réaliser le projet</li>
											<li>✓ Acquisition ou location de terrains relevant de domaine privé de l état</li>
											<li>✓ Occupation des domaines forestier, domaine public de l état</li>
											<li>✓ Accompagner le promoteur pour faciliter et activer l’obtention des diverses autorisation</li>
									</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ======================================= -->


			<div class="section-block pb-0 bkg-white">
				<div class="row">
					<div class="column width-10 offset-1 center">
						<h3 class="mb-50">
							COMPTABILITE ET FINANCE
							</h3>
					</div>
				</div>
				<!--Tabs 3-->
				<div class="section-block pt-60 pb-10 ">
					<div class="row">
						<div class="column width-5 images3">
							<div class="feature-image mb-mobile-50 " id="img6" >
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
									<img src="images/services/entreprise/accounting.jpg" id="tab11-img" alt="" />
								</div>
							</div>
							<div class="feature-image mb-mobile-50 " id="img7">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
									<img src="images/services/entreprise/finance.jpg" id="tab12-img" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-7 ">
							<div class="tabs style-2 left">
								<ul class="tab-nav tab-nav3 flex" >
									<li class="active" id="tab11">
										<a href="#tabs-4-pane-11" >COMPTABILITE</a>
									</li>
									<li id="tab12">
										<a href="#tabs-4-pane-12">FINANCE</a>
									</li>
								</ul>
								<div class="tab-panes">
									<div id="tabs-4-pane-11" class="active animate">
										<div class="tab-content">
											<ul style="list-style-type:none;"
												<li>✓ Imputation et saisie des pièces comptables</li>
												<li>✓ Tenue et surveillance de la comptabilité</li>
												<li>✓ Etablissement des situations intermédiaires</li>
												<li>✓ Préparation et présentation des liasses comptables</li>
												<li>✓ Comptabilité analytique</li>
												<li>✓ Analyse, statistique et calcul de ratios</li>
											</ul>
										</div>
									</div>
									<div id="tabs-4-pane-12">
										<div class="tab-content">
											<ul style="list-style-type:none;"
											<li>✓ Gestion prévisionnelle</li>
											<li>✓ Analyse de coûts, de marges, de rentabilité</li>
											<li>✓ établissement des tableaux de bord</li>
											<li>✓ Ratios financiers</li>
											<li>✓ Établissement de plans de trésorerie </li>
											<li>✓ Construction de plans de financement à moyen et long terme</li>
											<li>✓ Choix des modes de financement et établissement de dossiers de crédit</li>
											<li>✓ Tableau d'emplois et de ressources (historique et prévisionnel)</li>
											<li>✓ Analyse financière (statique et dynamique)</li>
										</ul>	
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- ======================================= -->
			
			<div class="section-block pb-0 bkg-white">
				<div class="row">
					<div class="column width-10 offset-1 center">
						<h3 class="mb-50">
							JURIDIQUE ET FISCALE
							</h3>
					</div>
				</div>
				<!--Tabs 4-->
				<div class="section-block pt-60 pb-10 bkg-grey-ultralight ">
					<div class="row">
						<div class="column width-5 images4">
							<div class="feature-image mb-mobile-50 " id="img6" >
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
									<img src="images/services/entreprise/jury.jpg" id="tab16-img" alt="" />
								</div>
							</div>
							<div class="feature-image mb-mobile-50 " id="img7">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
									<img src="images/services/entreprise/consulting.jpg" id="tab17-img" alt="" />
								</div>
							</div>
							<div class="feature-image mb-mobile-50 " id="img8">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
									<img src="images/services/entreprise/fiscale.jpg" id="tab18-img" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-7 ">
							<div class="tabs style-2 left">
								<ul class="tab-nav tab-nav4 flex" >
									<li class="active" id="tab16">
										<a href="#tabs-4-pane-16" >Droit des affaires</a>
									</li>
									<li id="tab17">
										<a href="#tabs-4-pane-17">Droit du travail</a>
									</li>
									<li id="tab18">
										<a href="#tabs-4-pane-18">FISCALE</a>
									</li>
								</ul>
								<div class="tab-panes">
									<div id="tabs-4-pane-16" class="active animate">
										<div class="tab-content">
											<ul style="list-style-type:none;"
												<li>✓ Consultation en matière de droit des sociétés, droit commercial, droit comptable et fiscal </li>
												<li>✓ Conseil dans le choix de la structure juridique </li>
												<li>✓ Préparation des statuts et de leurs amendements ultérieurs éventuels </li>
												<li>✓ Représentation des fondateurs lors de la passation de l'acte de constitution et lors de la tenue d'assemblées </li>
												<li>✓ Représentation de la société auprès des autorités et accomplissement des formalités </li>
												<li>✓ Apports en nature </li>
												<li>✓ Constitution de société </li>
												<li>✓ Choix de forme d'exercice </li>
												<li>✓ Suivi de procédures judiciaires </li>
												<li>✓ Conseil en transmission d'entreprise </li>
												<li>✓ Transformation des sociétés  </li>
												<li>✓ Liquidation et dissolution de sociétés </li>
											</ul>
										</div>
									</div>
									<div id="tabs-4-pane-17">
										<div class="tab-content">
											<ul style="list-style-type:none;">
												<li>✓ Le conseil quant à la législation sociale et le droit du travail </li>
												<li>✓ Consultations sur des problèmes spécifiques au droit du travail</li>
												<li>✓ Application de la législation et de la réglementation du travail</li>
												<li>✓ Problèmes de licenciement</li>
												<li>✓ Problèmes relatifs à la représentation dans l'entreprise : délégués du personnel</li>
												<li>✓ Comité d'entreprise et droit syndical</li>
												<li>✓ Assistance en cas de contrôle des administrations sociales</li>
											</ul>	
										</div>
									</div>
									<div id="tabs-4-pane-18">
										<div class="tab-content">
											<ul style="list-style-type:none;">
												<li>✓ Diagnostics de la situation, analyse des options possibles et optimisation fiscale</li>
												<li>✓ Conseils en vue d'un allègement fiscal</li>
												<li>✓ Réponses aux demandes de renseignement, avis de rectification</li>
												<li>✓ Réclamations fiscales</li>
												<li>✓ Assistance en cas de contrôle fiscal</li>
												<li>✓ Suivi régulier avec le client</li>
												<li>✓ Etablissement de l’ensemble des déclarations fiscales (impôts directs et   indirects)</li>
												<li>✓ Relations avec les administrations fiscales</li>
												<li>✓ Fiscalité immobilière</li>
												<li>✓ Etude et mise en œuvre de dossiers d'exonérations diverses</li>
												<li>✓ Rédaction des déclarations fiscales des personnes physiques</li>
										</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>




			
				






				
		
				            
			<!-- Custom Feature Columns -->
			<!-- <section class="section-block replicable-content bkg-grey-ultralight">
				<div class="row">
					<div class="column width-10 offset-1 center">
						<h3 class="mb-50">Custom Feature Columns</h3>
					</div>
				</div>
				<div class="row flex">
					<div class="column width-4">
						<div class="feature-column">
							<span class="text-medium weight-light font-alt-1 color-theme">01.</span>
							<h4 class="mb-30">Web Design</h4>
							<p>Use feature columns to highlight key information of one or multiple sections. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
					</div>
					<div class="column width-4">
						<div class="feature-column">
							<span class="text-medium weight-light font-alt-1 color-theme">02.</span>
							<h4 class="mb-30">Print Design</h4>
							<p>Use feature columns to highlight key information of one or multiple sections. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
					</div>
					<div class="column width-4">
						<div class="feature-column">
							<span class="text-medium weight-light font-alt-1 color-theme">03.</span>
							<h4 class="mb-30">Illustration</h4>
							<p>Use feature columns to highlight key information of one or multiple sections. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
					</div>
					<div class="column width-4 offset-4">
						<div class="feature-column">
							<span class="text-medium weight-light font-alt-1 color-theme">03.</span>
							<h4 class="mb-30">Illustration</h4>
							<p>Use feature columns to highlight key information of one or multiple sections. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
					</div>
				</div>
			</section> -->
			<!-- Custom Feature Columns End -->



			



        </div>
        <!-- Content End -->

     