<% layout('layouts/second') -%>
		<!-- Content -->
        <div class="content clearfix">

            	<!-- Full Width Slider Section -->
				<section class="section-block featured-media page-intro tm-slider-parallax-container">
					<div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140" data-scale-min-height="300">
						<ul class="tms-slides">
							<li class="tms-slide" data-image data-as-bkg-image data-force-fit>
								<div class="tms-content">
									<div class="tms-content-inner left">
										<div class="row">
											<div class="column width-12 center">
												<h1 class="tms-caption color-white text-center inline"
													data-animate-in="preset:slideInUpShort;duration:1000ms;delay:100ms;"
													data-no-scale
												>
                                                Communication et marketing digitale
												</h1>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/slider/slider-marketing.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
						</ul>
					</div>
				</section>
				<!-- Full Width Slider Section -->


      <!-- text -->
	  <section id="about">
		<!-- Feature Section 2 -->
		<div class="section-block bkg-charcoal feature-2">
			<div class="row flex">
				<div class="column width-6 push-5 offset-1">
					<div class="feature-image mb-mobile-50">
						<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
							<img src="images/services/communication-marketing/communication-digital.jpg" alt="" />
						</div>
					</div>
				</div>
				<div class="column width-5 pull-7">
					<div class="feature-content horizon pd-40" data-parallax="direction:vertical;speed:0.25;rotate:none;opacity:fade;">
						<div class="feature-content-inner horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:300ms;" data-threshold="0.6">
							<h2 class="mb-30 color-white">Une communication Digitale</h2>
							<p class="color-grey-light">EASYOM vous accompagne tout au long de votre démarche
								de communication et peut intervenir à différents niveaux.</p>
							   <p>
								Nos réflexions stratégiques suivent les dernières normes et avancès
								technologiques.
								Au fil des temps nous avons pu developper un concept
								plus globale de Communication Marketing Intégré. </p>
							 .</p>
								
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Feature Section 2 End -->
	</section>
	<!-- About End -->



	<!-- timeline -->
		<!-- Timeline Section -->
		<section class="section-block replicable-content bkg-grey-ultralight">
			<div class="row">
				<div class="column width-12">
					<h2 class="mb-80">Nos <br>Services.</h2>
				</div>
				<div class="column width-10 offset-2">
					<ul class="timeline vertical-indication">
						<li>
							<div class="row">
								<div class="timeline-title column width-3 right left-on-mobile">
									<div class="horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;">
										<h5 class=" title-small text-uppercase no-margin-bottom">Branding & Design</h5>
										<!-- <p>20014-2016</p> -->
									</div>
								</div>
								<div class="timeline-description column width-9">
									<div class="horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;">
										<!-- <h4 class="mb-10 color-theme">UX Designer Adobe</h4> -->
										<p class="mb-70">Concept créatif,Naming, Signature, Value Proposition, Identité visuelle, Territoire graphique, Charte</p>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="timeline-title column width-3 right left-on-mobile">
									<div class="horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:200ms;">
										<h5 class=" title-small text-uppercase no-margin-bottom">Stratégie</h5>
									</div>
								</div>
								<div class="timeline-description column width-9">
									<div class="horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;">
										<!-- <h4 class="mb-10 color-theme">UX Designer Interactive Inc.</h4> -->
										<p class="mb-70">Analyse du territoire de marque, Positionnement, Plan de communication</p>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="timeline-title column width-3 right left-on-mobile">
									<div class="horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:400ms;">
										<h5 class=" title-small text-uppercase no-margin-bottom">Content</h5>
										<!-- <p>2006-2011</p> -->
									</div>
								</div>
								<div class="timeline-description column width-9">
									<div class="horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:400ms;">
										<!-- <h4 class="mb-10 color-theme">Web Designer Core Media</h4> -->
										<p class="mb-70">Storytelling, Corporate, Commercial, Technique, Financier, Photo, Vidéo, Illustration, 3D, Animation</p>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="timeline-title column width-3 right left-on-mobile">
									<div class="horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:400ms;">
										
										<h5 class=" title-small text-uppercase no-margin-bottom">Digital</h5>
									</div>
								</div>
								<div class="timeline-description column width-9">
									<div class="horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:400ms;">
										<!-- <h4 class="mb-10 color-theme">Web Designer Core Media</h4> -->
										<p class="mb-70">Sites web, E-Commerce, Web marketing, SEO, Applications mobiles, Social Media Management Logiciels / ERP/Sysèmes
											ERP Grand Surface, ERP/systèmes hoterlin, Textil, industriel /...
											</p>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="timeline-title column width-3 right left-on-mobile">
									<div class="horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:400ms;">
										<h5 class=" title-small text-uppercase no-margin-bottom">Print</h5>
										<!-- <p>2006-2011</p> -->
									</div>
								</div>
								<div class="timeline-description column width-9">
									<div class="horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:400ms;">
										<!-- <h4 class="mb-10 color-theme">Web Designer Core Media</h4> -->
										<p class="mb-70">Papeterie, Édition, Publicité, Signalétique, PLV, Packaging
											</p>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="timeline-title column width-3 right left-on-mobile">
									<div class="horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:400ms;">
										<h5 class=" title-small text-uppercase no-margin-bottom">Event</h5>
										<!-- <p>2006-2011</p> -->
									</div>
								</div>
								<div class="timeline-description column width-9">
									<div class="horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:400ms;">
										<!-- <h4 class="mb-10 color-theme">Web Designer Core Media</h4> -->
										<p class="mb-70">Evénements, Stands, Scénographie, Aménagement, Relations publics
											</p>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
	<!-- timeline -->


    <!--Tabs Style 2 -->
	<div class="section-block pt-60 pb-10 ">
		<div class="row">
			<div class="column width-5 images">
				<div class="feature-image mb-mobile-50 " >
					<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
						<img src="images/services/communication-marketing/etude-project.jpg" id="tab1-img" alt="" />
					</div>
				</div>
				<div class="feature-image mb-mobile-50 " id="img2">
					<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
						<img src="images/services/communication-marketing/community.jpg" id="tab2-img" alt="" />
					</div>
				</div>
				<div class="feature-image mb-mobile-50 " id="img3">
					<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
						<img src="images/services/communication-marketing/finance.jpg" id="tab3-img" alt="" />
					</div>
				</div>
				<div class="feature-image mb-mobile-50 " id="img4">
					<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
						<img src="images/services/communication-marketing/invest.jpg" id="tab4-img" alt="" />
					</div>
				</div>
				<div class="feature-image mb-mobile-50 " id="img5">
					<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
						<img src="images/services/communication-marketing/realisation.jpg" id="tab5-img" alt="" />
					</div>
				</div>
			</div>
			<div class="column width-7 ">
				<div class="tabs style-2 left">
					<ul class="tab-nav flex" >
						<li class="active" id="tab1">
							<a href="#tabs-4-pane-1" >etude de projet</a>
						</li>
						<li id="tab2">
							<a href="#tabs-4-pane-2">CREATION DE SOCIETE</a>
						</li>
						<li id="tab3">
							<a href="#tabs-4-pane-3">DOSSIER DE FINANCEMENT</a>
						</li>
						<li id="tab4">
							<a href="#tabs-4-pane-4">AIDES AUX INVESTISSEURS</a>
						</li>
						<li id="tab5">
							<a href="#tabs-4-pane-5">RÉALISATION DES PROJETS</a>
						</li>
					</ul>
					<div class="tab-panes">
						<div id="tabs-4-pane-1" class="active animate">
							<div class="tab-content">
								<ul style="list-style-type:none;"
									<li>✓ Développement d’idées</li>
									<li>✓ Finalisation de concept</li>
									<li>✓ Analyse des secteurs et activités profitables</li>
									<li>✓ Proposition de projets</li>
								</ul>
							</div>
						</div>
						<div id="tabs-4-pane-2">
							<div class="tab-content">
								<ul style="list-style-type:none;"
								<li>✓ Information</li>
								<li>✓ Orientation</li>
								<li>✓ Accompagnement </li>
								<li>✓ Concrétisation de la création juridique fiscale et sociale de l’entreprise</li>
							</ul>	
							</div>
						</div>
						<div id="tabs-4-pane-3">
							<div class="tab-content">
								<ul style="list-style-type:none;"
									<li>✓ Recherche de fonds et investisseurs</li>
									<li>✓ Négociation avec les banques et organismes de crédits</li>
							</ul>
							</div>
						</div>
						<div id="tabs-4-pane-4">
							<div class="tab-content">
								<ul style="list-style-type:none;"
									<li>✓ Informations</li>
									<li>✓ Demandes d autorisations administratives pour réaliser le projet</li>
									<li>✓ Projet de convention avec l’état</li>
									<li>✓ Programmes avec l’état</li>
									<li>✓ subventions</li>
									<li>✓ subventions</li>
									<li>✓ Prospection et choix des terrains</li>
									<li>✓ Demande d’autorisation pour réaliser le projet</li>
									<li>✓ Acquisition ou location de terrains relevant de domaine privé de l état</li>
									<li>✓ Occupation des domaines forestier, domaine public de l état</li>
									<li>✓ Accompagner le promoteur pour faciliter et activer l’obtention des diverses autorisation</li>
							</ul>
							</div>
						</div>
						<div id="tabs-4-pane-5">
							<div class="tab-content">
								<ul style="list-style-type:none;"
									<li>✓ Planification</li>
									<li>✓ Installation</li>
									<li>✓ Pilotage</li>
									<li>✓ Production</li>
									<li>✓ Marketing</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		

	<!-- slider -->
	<!-- Hero Slider -->
	<div class="section-block pt-60 pb-0">
		<div class="hero-slider tm-slider-container" data-width="2500" data-height="1600" data-scale-min-height="700" data-auto-advance data-auto-advance-interval="5000" data-nav-dark data-nav-keyboard="false" data-progress-bar="false" data-pause-on-hover="true"> 
			<ul class="tms-slides">
				<li class="tms-slide bkg-grey-ultralight right" data-image data-as-bkg-image data-image-wrapper="media-column" data-nav-dark>
					<div class="media-column width-6"></div>
					<div class="row">
						<div class="tms-caption hero-content split-hero-content column width-5 no-transition" data-no-scale>
							<div class="hero-content-inner left">
								<div class="tms-content-scalable">
									<h3 class="mb-40">Gestion de production</h3>
									<ul style="list-style-type:none;">
										<li>✓ Etablissement de cahier de charge</li>
										<li>✓ Fiche technique des produits</li>
										<li>✓ Suivi et contrôle de production centralisé</li>
										<li>✓ Etude de cout de revient</li>
										<li>✓ Organisation et optimisation de la production</li>
										<li>✓ Contrôle de la qualité</li>
									</ul>	
								</div>
							</div>
						</div>
					</div>
					<img data-src="images/services/communication-marketing/productivity.jpg" data-retina src="images/blank.png" alt=""/>
				</li>
				<li class="tms-slide" data-image data-as-bkg-image data-force-fit>
					<div class="tms-caption hero-content split-hero-content column width-5 offset-1 no-transition" data-no-scale>
						<div class="hero-content-inner">
							<div class="tms-content-scalable color-white">
								<div class="row">
									<div class="column width-10 offset-1">
										<h3 class="mb-40">Gestion de marketing</h3>
										<ul style="list-style-type:none;">
											<li>✓	Définition de la politique et de l'organisation commerciale</li>
											<li>✓	Statistiques commerciales</li>
											<li>✓	Etude de cout de distribution, de marge et de prix de vente </li>
											<li>✓	Etude de marché et définition des cibles</li>
											<li>✓	Conception carte de visite, catalogue, brochures, flyers, site web</li>
											<li> ✓	Communication et publicité</li>
											<li>✓	La veille constante sur l'image de marque des produits</li>
											<li>✓	Réaliser une veille concurrentielle sur le marché</li>
											<li>✓	Suivi des clients et fidélisation</li>
										</ul>

									</div>
								</div>
							</div>
						</div>
					</div>
					<img data-src="images/services/communication-marketing/marketing.jpg" data-retina src="images/blank.png" alt=""/>
				</li>
				<li class="tms-slide bkg-grey-ultralight right" data-image data-as-bkg-image data-image-wrapper="media-column" data-nav-dark>
					<div class="media-column width-6"></div>
					<div class="row">
						<div class="tms-caption hero-content split-hero-content column width-5 no-transition" data-no-scale>
							<div class="hero-content-inner left">
								<div class="tms-content-scalable">
									<h3 class="mb-40">Management des ressources humaines</h3>
									<ul style="list-style-type:none;">
										<li>✓ Conseil en recrutement</li>
										<li>✓ Un recrutement adapté aux besoins de chaque entreprise</li>
										<li>✓ Etude et rédaction des contrats de travail</li>
										<li>✓ Une prise en charge complète de l'administration des salaires et des traitements</li>
										<li>✓ Déclaration sociales (CNSS)</li>
									</ul>	
								</div>
							</div>
						</div>
					</div>
					<img data-src="images/services/communication-marketing/human-resource.jpg" data-retina src="images/blank.png" alt=""/>
				</li>
				<li class="tms-slide" data-image data-as-bkg-image data-force-fit>
					<div class="tms-caption hero-content split-hero-content column width-5 offset-1 no-transition" data-no-scale>
						<div class="hero-content-inner">
							<div class="tms-content-scalable color-white">
								<div class="row">
									<div class="column width-10 offset-1">
										<h3 class="mb-40">Management d'organisation</h3>
										<ul style="list-style-type:none;">
											<li>✓	Analyse et restructuration de l'organigramme </li>
											<li>✓	Organigramme, structure et définition de fonctions </li>
											<li>✓	Analyse des procédures et du contrôle interne</li>
											<li>✓	Organisation administrative</li>
										</ul>

									</div>
								</div>
							</div>
						</div>
					</div>
					<img data-src="images/services/communication-marketing/organisation.jpg" data-retina src="images/blank.png" alt=""/>
				</li>
				<li class="tms-slide bkg-grey-ultralight right" data-image data-as-bkg-image data-image-wrapper="media-column" data-nav-dark>
					<div class="media-column width-6"></div>
					<div class="row">
						<div class="tms-caption hero-content split-hero-content column width-5 no-transition" data-no-scale>
							<div class="hero-content-inner left">
								<div class="tms-content-scalable">
									<h3 class="mb-40">Anglais professionnel</h3>
									<ul style="list-style-type:none;">
										<li>✓ Cours de perfectionnement</li>
										<li>✓ Anglais de conversation</li>
										<li>✓ Anglais : finance, comptabilité, marketing, management et autres</li>
									</ul>	
								</div>
							</div>
						</div>
					</div>
					<img data-src="images/services/communication-marketing/english-pro.jpg" data-retina src="images/blank.png" alt=""/>
				</li>
				<li class="tms-slide" data-image data-as-bkg-image data-force-fit>
					<div class="tms-caption hero-content split-hero-content column width-5 offset-1 no-transition" data-no-scale>
						<div class="hero-content-inner">
							<div class="tms-content-scalable color-white">
								<div class="row">
									<div class="column width-10 offset-1">
										<h3 class="mb-40">Coaching scientifique</h3>
										<ul style="list-style-type:none;">
											<li>✓ Marketing</li>
											<li>✓ Ressources humaines</li>
											<li>✓ Gestion entreprises</li>
											<li>✓ Secrétariat</li>
											<li>✓ Relations publiques</li>
										</ul>

									</div>
								</div>
							</div>
						</div>
					</div>
					<img data-src="images/services/communication-marketing/coaching.jpg" data-retina src="images/blank.png" alt=""/>
				</li>
				<li class="tms-slide bkg-grey-ultralight right" data-image data-as-bkg-image data-image-wrapper="media-column" data-nav-dark>
					<div class="media-column width-6"></div>
					<div class="row">
						<div class="tms-caption hero-content split-hero-content column width-5 no-transition" data-no-scale>
							<div class="hero-content-inner left">
								<div class="tms-content-scalable">
									<h3 class="mb-40">Formation Informatique</h3>
									<ul style="list-style-type:none;">
										<li>✓ Maintenance et réparation</li>
										<li>✓ Réseaux</li>
										<li>✓ Développement logiciel</li>
									</ul>	
								</div>
							</div>
						</div>
					</div>
					<img data-src="images/services/communication-marketing/info.jpg" data-retina src="images/blank.png" alt=""/>
				</li>
			</ul>
		</div>
	</div>
	<!-- Hero Slider End -->



	

 </div>
        <!-- Content End -->

     




