<% layout('layouts/second') -%>
		<!-- Content -->
        <div class="content clearfix">

		<!-- intro -->
		<section class="section-block featured-media page-intro tm-slider-parallax-container ">
			<div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140" data-scale-min-height="300">
					<ul class="tms-slides bk-overlay">
						<li class="tms-slide" data-image data-as-bkg-image data-force-fit>
							<div class="tms-content">
								<div class="tms-content-inner left bk-overlay">
									<div class="row">
										<div class="column width-12 center ">
											<h1 class="tms-caption color-white text-center text-uppercase inline"
												data-animate-in="preset:slideInUpShort;duration:1000ms;delay:100ms;"
												data-no-scale
											>
											Communication et marketing digitale
											</h1>
										</div>
									</div>
								</div>
							</div>
							<img data-src="images/slider/slider-marketing.jpg"  data-retina src="images/blank.png" alt=""/>
						</li>
					</ul>
			</div>
		</section>
		<!-- intro -->



		<!-- intro -->
      <!-- text -->
	  <section id="about">
		<!-- Feature Section 2 -->
		<div class="section-block bkg-charcoal feature-2">
			<div class="row flex">
				<div class="column width-6 push-5 offset-1">
					<div class="feature-image mb-mobile-50">
						<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
							<img src="images/services/communication-marketing/communication-digital.jpg" alt="" />
						</div>
					</div>
				</div>
				<div class="column width-5 pull-7">
					<div class="feature-content horizon pd-40" data-parallax="direction:vertical;speed:0.25;rotate:none;opacity:fade;">
						<div class="feature-content-inner horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:300ms;" data-threshold="0.6">
							<h2 class="mb-30 color-white">Une communication Digitale</h2>
							<p class="color-white">EASYOM vous accompagne tout au long de votre démarche
								de communication et peut intervenir à différents niveaux.</p>
							   <p class="color-white">
								Nos réflexions stratégiques suivent les dernières normes et avancès
								technologiques.
								Au fil des temps nous avons pu developper un concept
								plus globale de Communication Marketing Intégré. </p>
								
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Feature Section 2 End -->
	</section>
	<!-- About End -->

<!-- time line services -->

						<!-- timeline -->
							<!-- Timeline Section -->
							<section class="section-block replicable-content bkg-grey-ultralight">
								<div class="row">
									<div class="column width-12">
										<h2 class="mb-80">En vous accompagnant <br> dans votre stratégie</h2>
									</div>
									<div class="column width-10 offset-2">
										<ul class="timeline vertical-indication">
											<li>
												<div class="row">
													<div class="timeline-title column width-3 right left-on-mobile">
														<div class="horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:200ms;">
															<h5 class=" title-small text-uppercase no-margin-bottom">Stratégie</h5>
														</div>
													</div>
													<div class="timeline-description column width-9">
														<div class="horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;">
															<!-- <h4 class="mb-10 color-theme">UX Designer Interactive Inc.</h4> -->
															<p class="mb-70 text-large">Analyse du territoire de marque, Positionnement, Plan de communication</p>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="row">
													<div class="timeline-title column width-3 right left-on-mobile">
														<div class="horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;">
															<h5 class=" title-small text-uppercase no-margin-bottom">Branding & Design</h5>
															<!-- <p>20014-2016</p> -->
														</div>
													</div>
													<div class="timeline-description column width-9">
														<div class="horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;">
															<!-- <h4 class="mb-10 color-theme">UX Designer Adobe</h4> -->
															<p class="mb-70">Concept créatif,Naming, Signature, Value Proposition, Identité visuelle, Territoire graphique, Charte</p>
														</div>
													</div>
												</div>
											</li>
											
											<li>
												<div class="row">
													<div class="timeline-title column width-3 right left-on-mobile">
														<div class="horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:400ms;">
															<h5 class=" title-small text-uppercase no-margin-bottom">Content</h5>
															<!-- <p>2006-2011</p> -->
														</div>
													</div>
													<div class="timeline-description column width-9">
														<div class="horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:400ms;">
															<!-- <h4 class="mb-10 color-theme">Web Designer Core Media</h4> -->
															<p class="mb-70 text-large">Storytelling, Corporate, Commercial, Technique, Financier, Photo, Vidéo, Illustration, 3D, Animation</p>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="row">
													<div class="timeline-title column width-3 right left-on-mobile">
														<div class="horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:400ms;">
															
															<h5 class=" title-small text-uppercase no-margin-bottom">Digital</h5>
														</div>
													</div>
													<div class="timeline-description column width-9">
														<div class="horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:400ms;">
															<!-- <h4 class="mb-10 color-theme">Web Designer Core Media</h4> -->
															<p class="mb-70 text-large">Sites web, E-Commerce, Web marketing, SEO, Applications mobiles, Social Media Management Logiciels / ERP/Sysèmes
																ERP Grand Surface, ERP/systèmes hoterlin, Textil, industriel /...
																</p>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="row">
													<div class="timeline-title column width-3 right left-on-mobile">
														<div class="horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:400ms;">
															<h5 class=" title-small text-uppercase no-margin-bottom">Print</h5>
															<!-- <p>2006-2011</p> -->
														</div>
													</div>
													<div class="timeline-description column width-9">
														<div class="horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:400ms;">
															<!-- <h4 class="mb-10 color-theme">Web Designer Core Media</h4> -->
															<p class="mb-70 text-large">Papeterie, Édition, Publicité, Signalétique, PLV, Packaging
																</p>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="row">
													<div class="timeline-title column width-3 right left-on-mobile">
														<div class="horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:400ms;">
															<h5 class=" title-small text-uppercase no-margin-bottom">Event</h5>
															<!-- <p>2006-2011</p> -->
														</div>
													</div>
													<div class="timeline-description column width-9">
														<div class="horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:400ms;">
															<!-- <h4 class="mb-10 color-theme">Web Designer Core Media</h4> -->
															<p class="mb-70 text-large">Evénements, Stands, Scénographie, Aménagement, Relations publics
																</p>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</section>
						<!-- timeline -->



								<section class="section-block hero-5 hero-5-1 clear-height right show-media-column-on-mobile bkg-charcoal">
									<div class="media-column width-6 window-height background-none">
										<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
											<ul class="tms-slides">
												<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
													<img data-src="images/services/communication-marketing/strat.jpg" data-retina src="images/blank.png" alt=""/>
												</li>
												<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideTopBottom">
													<img data-src="images/services/communication-marketing/digitale-marketing.jpg" data-retina src="images/blank.png" alt=""/>
												</li>
											</ul>
										</div>
									</div>
									<div class="row">
										<div class="column width-5">
											<div class="hero-content split-hero-content">
												<div class="hero-content-inner left center-on-mobile horizon" data-animate-in="preset:fadeIn;duration:1300ms;" data-threshold="0.5">
													<div class="color-white">
														<h5 class="mb-10 text-uppercase text-medium">CONSEIL & STRATÉGIE</h5>
														<p class="lead">Les bases d'un véritable accompagnement, c'est d'avoir un conseiller qui vous écoute vraiment, et qui vous aides a definir les bons messages, trouver votre identité et déployer votre image de marque. Cette- collaboration a pour objectif d'être plus visible, cré dible et d'optimiser votre croissance. Elle a également- pour but de vous laisser le temps pour vous concen trer sur votre cœur d'activité. Nous échangeons avec vous pour comprendre les tenants et les aboutissants de vos problématiques et pour vous proposer des- recommandations pertinentes et complètement per sonnalisées.
														</p>
														<br>
														<h5 class="mb-10 text-uppercase text-medium">Stratégie</h5>
														<p class="lead"> 
															C'est le rêve de tout entrepreneur de voir sa marque
														pensé au bon message, au bon visuel et surtout au bon ciblage ?, nous vous accompagnons et étudions quels sont les supports les plus adaptés à vos public, Nous definissons ensuite le bon message et le bon visuel pour décliner votre image en optimisant son apparence.
														</p>
														<br>
														<h5 class="mb-10 text-uppercase text-medium">Content marketing</h5>
														<p class="lead">Nous vous accompagnons dans la création de conte- nus médias dans le but de développer votre entre- prise ou votre marque. Sous forme d'articles, de news, d'infographies, de vidéos, d'enquêtes, de photos, ou
														éditoriale appropriée à votre cible pour créer des contenus adaptés et de l'interaction avec vos clients. Nous travaillons avec des rédacteurs qui adaptent leur
														ticles pertinents dans le cadre d'une stratégie édito- riale et/ou de référencement (SEO).
														Rédaction - Interview - Storytelling – Article
														</p>
														<h5 class="mb-10 text-uppercase text-medium">Veille concurrentielle</h5>
														<p class="lead">Nous etudions et analysons votre marche afin de mieux comprendre les attentes de vos clients au travers d'un benchmarck et d'enquêtes quantitatives comme qualitatives, nous analysons et comparons votre marché pour en comprendre le fonctionnement et comment vous rendre performant. Nous disposeront ainsi d'informations detaillees precieuses a exploiter dans la mise en place d'une strategie marketing ciblee 
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>



							<!-- ====================================================================== -->

								<!-- Edition papier -->
								<div id="trips">

									<!-- Hero Section 5 -->
									<section class="section-block hero-5 hero-5-1 clear-height show-media-column-on-mobile bkg-grey-ultralight">
										<div class="media-column width-6 window-height background-none">
											<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
												<ul class="tms-slides">
													<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="scaleOut">
														<img data-src="images/services/entreprise/drone.jpg" data-retina src="images/blank.png" alt=""/>
													</li>
													<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
														<img data-src="images/services/entreprise/drone.jpg" data-retina src="images/blank.png" alt=""/>
													</li>
												</ul>
											</div>
										</div>
										<div class="row">
											<div class="column width-5 offset-7">
												<div class="hero-content split-hero-content">
													<div class="hero-content-inner left center-on-mobile horizon" data-animate-in="preset:fadeIn;duration:1300ms;" data-threshold="0.5">
														<h2 class="mb-30">Edition papier</h2>
														<p class="lead">Catalogue, carte, plaquette,brochure, flyer,tract,chemise,livret <br> ticket, prospectus… les supports papier conservent des vertus de communication uniques.</p>
														<ul style="list-style-type:none;">
															<li>✓	 Conception</li>
															<li>✓	 rédaction</li>
															<li>✓	Maquette</li>
															<li>✓	Illustration</li>
															<li>✓	Iconographie</li>
															<li>✓	 Fabrication</li>
															<li>✓	Traductions</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="media-column width-6 window-height background-none">
												<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
													<ul class="tms-slides">
														<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
															<img data-src="images/services/entreprise/papier-1.jpg" data-retina src="images/blank.png" alt=""/>
														</li>
														<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideTopBottom">
															<img data-src="images/services/entreprise/papier-2.jpg" data-retina src="images/blank.png" alt=""/>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</section>
									<!-- Hero Section 5 End -->

									<!-- Hero Section 5 -->
									<section class="section-block hero-5 hero-5-1 clear-height right show-media-column-on-mobile bkg-theme">
										<div class="media-column width-6 window-height background-none">
											<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
												<ul class="tms-slides">
													<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
														<img data-src="images/services/entreprise/packaging-2.jpg" data-retina src="images/blank.png" alt=""/>
													</li>
													<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideTopBottom">
														<img data-src="images/services/entreprise/packaging.jpg" data-retina src="images/blank.png" alt=""/>
													</li>
												</ul>
											</div>
										</div>
										<div class="row">
											<div class="column width-5">
												<div class="hero-content split-hero-content">
													<div class="hero-content-inner left center-on-mobile horizon" data-animate-in="preset:fadeIn;duration:1300ms;" data-threshold="0.5">
														<div class="color-white">
															<h2 class="mb-30">Packaging</h2>
															<p class="lead">Attirer, séduire, convaincre, être référencé, implanter, promouvoir… votre packaging est votre premier outil de <br> communication pour vendre bien, vendre mieux, vendre plus!</p>
															<ul style="list-style-type:none;">
																<li>✓ Accompagnement marketing </li>
																<li>✓ Conception </li>
																<li>✓ Recherche formes, matéreaux </li>
																<li>✓ Création graphique </li>
																<li>✓ Photos produits </li>
																<li>✓  Notice d’utilisation </li>
																<li>✓ Fabrication </li>
															</ul>	
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
								<!-- Edition papier End -->


								<!-- STUDIO AUDIOVISUEL PHOTO - SON -->
								<div id="trips">

									<!-- Hero Section 5 -->
									<section class="section-block hero-5 hero-5-1 clear-height show-media-column-on-mobile bkg-grey-ultralight">
										<div class="media-column width-6 window-height background-none">
											<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
												<ul class="tms-slides">
													<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="scaleOut">
														<img data-src="images/services/entreprise/drone.jpg" data-retina src="images/blank.png" alt=""/>
													</li>
													<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
														<img data-src="images/services/entreprise/drone.jpg" data-retina src="images/blank.png" alt=""/>
													</li>
												</ul>
											</div>
										</div>
										<div class="row">
											<div class="column width-5 offset-7">
												<div class="hero-content split-hero-content">
													<div class="hero-content-inner left center-on-mobile horizon" data-animate-in="preset:fadeIn;duration:1300ms;" data-threshold="0.5">
														<h2 class="mb-30">STUDIO AUDIOVISUEL PHOTO - SON</h2>
														<h2 class="mb-30">VIDÉOS & PHOTOS</h2>
														<p class="lead">GO MARKETING, offre un service de prises de vues aériennes par drones pour votre projet. et Assure une précision des cadres et des mouvements.</p>
														<ul style="list-style-type:none;">
															<li >✓	Presentation de produit</li>
															<li>✓	 Evenementiel</li>
															<li>✓	 Architecture</li>
															<li>✓	Shooting</li>
															<li>✓	 Vue Aerienne</li>
															<li>✓	Photocall</li>
															<li>✓	  Seminaire</li>
															<li>✓	  Orporate</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="media-column width-6 window-height background-none">
												<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
													<ul class="tms-slides">
														<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
															<img data-src="images/services/entreprise/camera.jpg" data-retina src="images/blank.png" alt=""/>
														</li>
														<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideTopBottom">
															<img data-src="images/services/entreprise/camera-2.jpg" data-retina src="images/blank.png" alt=""/>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</section>
									<!-- Hero Section 5 End -->
				
									<!-- Hero Section 5 -->
									<section class="section-block hero-5 hero-5-1 clear-height right show-media-column-on-mobile bkg-theme">
										<div class="media-column width-6 window-height background-none">
											<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
												<ul class="tms-slides">
													<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
														<img data-src="images/services/entreprise/drone.jpg" data-retina src="images/blank.png" alt=""/>
													</li>
													<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideTopBottom">
														<img data-src="images/services/entreprise/drone-2.jpg" data-retina src="images/blank.png" alt=""/>
													</li>
												</ul>
											</div>
										</div>
										<div class="row">
											<div class="column width-5">
												<div class="hero-content split-hero-content">
													<div class="hero-content-inner left center-on-mobile horizon" data-animate-in="preset:fadeIn;duration:1300ms;" data-threshold="0.5">
														<div class="color-white">
															<h2 class="mb-30">DRONES</h2>
															<p class="lead">L'agence GO MARKETING, vous accompagne et vous conseille dans la réalisation et la production de votre projet Vidéos & Photos</p>
															<ul style="list-style-type:none;">
																<li>✓ Video Institutionnelle</li>
																<li>✓ Presentation de  produit film publicitaire </li>
																<li>✓ Video de formation </li>
																<li>✓ Video Evenementiel </li>
																<li>✓ Clip video </li>
																<li>✓ Suivi de chantier </li>
																<li>✓ Motion design</li>
																<li>✓  Spot pub</li>
																<li>✓ Cinema afterMovie</li>
															</ul>	
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
								<!-- STUDIO AUDIOVISUEL PHOTO - SON End -->
			
			
								<!-- EVÈNEMENTIEL & ESPACE STAND -->
								<section class="section-block hero-5 hero-5-1 clear-height show-media-column-on-mobile bkg-grey-ultralight">
									<div class="media-column width-6 window-height background-none">
										<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
											<ul class="tms-slides">
												<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="scaleOut">
													<img data-src="images/services/entreprise/drone.jpg" data-retina src="images/blank.png" alt=""/>
												</li>
												<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
													<img data-src="images/services/entreprise/drone.jpg" data-retina src="images/blank.png" alt=""/>
												</li>
											</ul>
										</div>
									</div>
									<div class="row">
										<div class="column width-5 offset-7">
											<div class="hero-content split-hero-content">
												<div class="hero-content-inner left center-on-mobile horizon" data-animate-in="preset:fadeIn;duration:1300ms;" data-threshold="0.5">
													<h2 class="mb-30">EVÈNEMENTIEL & ESPACE STAND</h2>
													<p class="lead text-medium  weight-bold">sortir de l'ordinaire, tisser le fil conducteur et veiller à chaque détail, conjuguer scène festive et coulisses rigoureuses pour que vous vous consacriez rigoureuses pour que vous vous consacriez uniquement à vos invités. Optimiser l'espace, communiquer en 3 dimensions, sortir, rencontrer et aussi poncer, peindre, monter, éclairer….</p>
													<ul style="list-style-type:none;">
														<li>✓	 Organiser votre road show dans plusieurs villes de France pour aller à la rencontre de votre public.</li>
														<br>
														<li>✓	 Piloter la conception, le montage et la réalisation de vos conventions, congrès et rendez–vous business.</li>
														<br>
														<li>✓	Elaborer vos programmes éditoriaux et d’information à travers la sélection des thématiques et des intervenants.</li>
														<br>
														<li>✓	 Vue Dynamiser votre stand sur un salon, du design jusqu'à l'aménagement.</li>
														<br>
														<li>✓   Concevoir vos campagnes de communication multicanales </li>
														<br>
														<li>✓	  Recruter l’ensemble de vos participants,visiteurs, intervenants, partenaires, journalistes…</li>
														<br>
														<li>✓	  Imaginer des concepts originaux pour rencontrer et engager vos clients. Petits déjeuners, soirées, voyages incentives…</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="media-column width-6 window-height background-none">
											<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
												<ul class="tms-slides">
													<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
														<img data-src="images/services/entreprise/event-1.jpg" data-retina src="images/blank.png" alt=""/>
													</li>
													<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideTopBottom">
														<img data-src="images/services/entreprise/event-2.jpg" data-retina src="images/blank.png" alt=""/>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</section>
								<!-- EVÈNEMENTIEL & ESPACE STAND End -->
								

								<!-- Hero Section 5 -->
								<section class="section-block hero-5 hero-5-1 clear-height right show-media-column-on-mobile bkg-charcoal">
									<div class="media-column width-6 window-height background-none">
										<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
											<ul class="tms-slides">
												<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
													<img data-src="images/services/entreprise/press.jpg" data-retina src="images/blank.png" alt=""/>
												</li>
											</ul>
										</div>
									</div>
									<div class="row">
										<div class="column width-5">
											<div class="hero-content split-hero-content">
												<div class="hero-content-inner left center-on-mobile horizon" data-animate-in="preset:fadeIn;duration:1300ms;" data-threshold="0.5">
													<div class="color-white">
														<h2 class="mb-30">Relations presse</h2>
														<p class="lead">Mise en relation avec les journalistes locaux, régionaux,
															nationaux et internationaux, communiquer sur votre marque
															auprès des médias.</p>
															<ul style="list-style-type:none;"
															<li>✓ Ciblage presse</li>
															<li>✓ Contacts rédaction</li>
															<li>✓ Communiqué de presse</li>
															<li>✓ Conférence de presse</li>
															<li>✓ Relance</li>
															<li>✓ Suivi</li>
															<li>✓ Pige</li>
														</ul>
					
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
								<!-- Relations presse 2 End -->

							<!-- Hero Section 5 -->
							<section class="section-block hero-5 hero-5-1 clear-height show-media-column-on-mobile bkg-grey-ultralight">
								<div class="row">
									<div class="column width-5 offset-7">
										<div class="hero-content split-hero-content">
											<div class="hero-content-inner left center-on-mobile horizon" data-animate-in="preset:fadeIn;duration:1300ms;" data-threshold="0.5">
												<h2 class="mb-30">DIGITAL
													WEB DESIGN & MULTIMÉDIA</h2>
												<h5 class="mb-10 text-uppercase text-medium">Site internet</h5>
													<p class="lead">Du webdesign à l'intégration, nous sommes plus
														designs modernes, ergonomiques et dans l'air du temps. À l'heure du digital, il constitue un levier plus qu'essentiel de votre réussite et doit retranscrire votre image de marque.
														Site   vitrine,   marchand,   événementiel 
														Intégration - Développemen –Référencement naturel - Maintenance, sauvegarde & sécurité
													</p>
													<br>
													<h5 class="mb-10 text-uppercase text-medium">Community manager</h5>
													<p class="lead"> 
														communiquer autrement. Nous vous aidons à cibler un public adapté et nous vous accompagnons dans cette démarche. Nous développons avec vous
														des contenus pertinents. Notre but est de générer communauté et de créer de l'engagement.
														publication - Création de planning et animation de communauté - Veille et analyse de l’e- réputation
													</p>
													<br>
													<h5 class="mb-10 text-uppercase text-medium">Application métier</h5>
													<p class="lead">Nous assurerons la conception, le design et le développement de vos applications pour des solutions clés en main. Les applications sont des outils puissants
														Analyse du besoin - Création de CMS sur mesure - User expérience - Hébergement sur mesure
													</p>
													<h5 class="mb-10 text-uppercase text-medium">Newsletters et e-mailing</h5>
													<p class="lead">Lorsqu'il s'agit de capter l'attention de prospects, d'informer les clients sur des actualités liées à
														envois à partir de votre base de données.
														Création - Intégration - Mise en place d’outils statistiques
													</p>
											</div>
										</div>
									</div>
									<div class="media-column width-6 window-height background-none">
										<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
											<ul class="tms-slides">
												<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
													<img data-src="images/services/communication-marketing/internet.jpg" data-retina src="images/blank.png" alt=""/>
												</li>
												<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideTopBottom">
													<img data-src="images/services/communication-marketing/newsletter.jpg" data-retina src="images/blank.png" alt=""/>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</section>
							<!-- Hero Section 5 End -->
				
							


 </div>
        <!-- Content End -->

     




