<% layout('layouts/second') -%>
		<!-- Content -->
        <div class="content clearfix">

            	<!-- Full Width Slider Section -->
				<section class="section-block featured-media page-intro tm-slider-parallax-container">
					<div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140" data-scale-min-height="300">
						<ul class="tms-slides">
							<li class="tms-slide" data-image data-as-bkg-image data-force-fit>
								<div class="tms-content">
									<div class="tms-content-inner left">
										<div class="row">
											<div class="column width-12 center">
												<h1 class="tms-caption color-white text-center inline"
													data-animate-in="preset:slideInUpShort;duration:1000ms;delay:100ms;"
													data-no-scale
												>
                                                Formations et E-learning
												</h1>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/slider/slider-elearning.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
						</ul>
					</div>
				</section>
				<!-- Full Width Slider Section -->


 			<!-- slider -->
				<!-- Hero Slider -->
				<div class="section-block pt-60 pb-0">
					<div class="hero-slider tm-slider-container" data-width="2500" data-height="1600" data-scale-min-height="700" data-auto-advance data-auto-advance-interval="5000" data-nav-dark data-nav-keyboard="false" data-progress-bar="false" data-pause-on-hover="true"> 
						<ul class="tms-slides">
							<li class="tms-slide bkg-grey-ultralight right" data-image data-as-bkg-image data-image-wrapper="media-column" data-nav-dark>
								<div class="media-column width-6"></div>
								<div class="row">
									<div class="tms-caption hero-content split-hero-content column width-5 no-transition" data-no-scale>
										<div class="hero-content-inner left">
											<div class="tms-content-scalable">
												<h3 class="mb-40">Anglais professionnel</h3>
												<ul style="list-style-type:none;">
													<li>✓ Cours de perfectionnement</li>
													<li>✓ Anglais de conversation</li>
													<li>✓ Anglais : finance, comptabilité, marketing, management et autres</li>
												</ul>	
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/services/communication-marketing/english-pro.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
							<li class="tms-slide" data-image data-as-bkg-image data-force-fit>
								<div class="tms-caption hero-content split-hero-content column width-5 offset-1 no-transition" data-no-scale>
									<div class="hero-content-inner">
										<div class="tms-content-scalable color-white">
											<div class="row">
												<div class="column width-10 offset-1">
													<h3 class="mb-40">Coaching scientifique</h3>
													<ul style="list-style-type:none;">
														<li>✓ Marketing</li>
														<li>✓ Ressources humaines</li>
														<li>✓ Gestion entreprises</li>
														<li>✓ Secrétariat</li>
														<li>✓ Relations publiques</li>
													</ul>

												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/services/communication-marketing/coaching.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
							<li class="tms-slide bkg-grey-ultralight right" data-image data-as-bkg-image data-image-wrapper="media-column" data-nav-dark>
								<div class="media-column width-6"></div>
								<div class="row">
									<div class="tms-caption hero-content split-hero-content column width-5 no-transition" data-no-scale>
										<div class="hero-content-inner left">
											<div class="tms-content-scalable">
												<h3 class="mb-40">Formation Informatique</h3>
												<ul style="list-style-type:none;">
													<li>✓ Maintenance et réparation</li>
													<li>✓ Réseaux</li>
													<li>✓ Développement logiciel</li>
												</ul>	
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/services/communication-marketing/info.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
						</ul>
					</div>
				</div>
				<!-- Hero Slider End -->

        </div>
        <!-- Content End -->

     