<% layout('layouts/second') -%>
		<!-- Content -->
        <div class="content clearfix">

            	<!-- Full Width Slider Section -->
				<section class="section-block featured-media page-intro tm-slider-parallax-container">
					<div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140" data-scale-min-height="300">
						<ul class="tms-slides">
							<li class="tms-slide" data-image data-as-bkg-image data-force-fit>
								<div class="tms-content">
									<div class="tms-content-inner left bk-overlay">
										<div class="row">
											<div class="column width-12 center">
												<h1 class="tms-caption color-white text-center text-uppercase inline"
													data-animate-in="preset:slideInUpShort;duration:1000ms;delay:100ms;"
													data-no-scale
												>
                                                Numeria: SRM solution
												</h1>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/slider/numeria.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
						</ul>
					</div>
				</section>
				<!-- Full Width Slider Section -->


     
               <!-- Numeria presentation -->
               <section id="vision" class="section-block feature-2 bkg-charcoal">
					<div class="row flex">
						<div class="column width-6 push-6">
							<div class="feature-image mb-mobile-50">
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:500	;" data-threshold="0.6">
									<img src="images/services/numeria/numeria-front.jpg" alt="" />
								</div>
							</div>
						</div>
						<div class="column width-5 pull-6 pull-1">
							<div class="feature-content">
								<div class="feature-content-inner horizon" data-animate-in="preset:slideInUpShort;duration:1000;delay:300ms;" data-threshold="0.6">
									<h2 class="color-white">Numeria: SRM Solution</h2>
									<p class="color-grey-light">Eosyom est une société d’ingénierie et de conseil en technologie de l’informotion spéciolisée dons to progrommotion informotique, Ie troitement des données, to conception de systéme intégré, et Ie développement des : </p>
									<ul style="list-style-type:none;" class="color-grey-light">
										<li>✓	Solution informatiques</li>
										<li>✓	Logiciels de base des données et gestion d'information</li>
										<li>✓	Logiciels d'applications commerciale, professionnelle et financière</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
           		</section>
            <!-- Numeria presentation-->


					<!-- Edition papier -->
					<div id="trips">

						<!-- Hero Section 5 -->
						<section class="section-block hero-5 hero-5-1 clear-height show-media-column-on-mobile bkg-grey-ultralight">
							<div class="media-column width-6 window-height background-none">
								<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
									<ul class="tms-slides">
										<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="scaleOut">
											<img data-src="images/services/entreprise/drone.jpg" data-retina src="images/blank.png" alt=""/>
										</li>
										<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
											<img data-src="images/services/entreprise/drone.jpg" data-retina src="images/blank.png" alt=""/>
										</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="column width-5 offset-7">
									<div class="hero-content split-hero-content">
										<div class="hero-content-inner left center-on-mobile horizon" data-animate-in="preset:fadeIn;duration:1300ms;" data-threshold="0.5">
											<h2 class="mb-30">Numeria Enterpriser</h2>
											<p class="lead">Solution de gestion globole synchronisée : Achot, Vente, Stock, Trésorerie,
												Comptobilité Ressources Humoine, Point de Vente...</p>
												<p >
													Dynomique, interactive et évolutive, compatible ovec ie nouveou codre réglementoire.
													Solution Développée en Java Swing/Fx Base de Données Mysql qui intégre
													la Messogerie, ovec outres utilités: Webcam, Douchette Imogeur
													(Lecture des Codes-borres) Créotion des Codes-borres.
													Gestion des points de vente (coisse décenholisée). Imprimontes:
													(A4, Re u, Badges, Codes Borres). Gestion des dossiers, des utilisoteurs et controle
													d occés aux bases de données...
												</p>
										</div>
									</div>
								</div>
								<div class="media-column width-6 window-height background-none">
									<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
										<ul class="tms-slides">
											<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
												<img data-src="images/services/numeria/numeria-entreprise.jpg" data-retina src="images/blank.png" alt=""/>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</section>
						<!-- Hero Section 5 End -->

						<!-- Hero Section 5 -->
						<section class="section-block hero-5 hero-5-1 clear-height right show-media-column-on-mobile bkg-theme">
							<div class="media-column width-6 window-height background-none">
								<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
									<ul class="tms-slides">
										<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
											<img data-src="images/services/numeria/numeria-rh4p.jpg" data-retina src="images/blank.png" alt=""/>
										</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="column width-5">
									<div class="hero-content split-hero-content">
										<div class="hero-content-inner left center-on-mobile horizon" data-animate-in="preset:fadeIn;duration:1300ms;" data-threshold="0.5">
											<div class="color-white">
												<h2 class="mb-30">Numeria RH4P</h2>
												<p class="lead">Gestion des ressources humaines :</p>
												<ul style="list-style-type:none;">
													<li>✓	Personnel: Fiches, Documents</li>
													<li>✓	Planning: Plans Rototionnels, Sélection des équipes et des sections, Cortes des Plans</li>
													<li>✓	Pointoge: Manuel ou lmporté, Journolier ou Mensuel</li>
													<li>✓	Poie: Troitement Individuel, ou par Groupe, gestion des primes des indemnités, des ovonces, et des soldes de comptes.</li>
													<li>✓	Suivi: Retard, Absence, Pointoge, Livre de Poie, Congé, Molodie</li>
													<li>✓	Apergu Financier: Mosse soloriole, charges socioles, indemnités... Etot ovec illustration Grophique</li>
													<li>✓	Déclorotion : Fiscoles (IR, CS) et Socioles (Cnss) Télé-déclorotion (Domoncom intégrée)</li>
												</ul>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>


						<!-- Hero Section 5 -->
						<section class="section-block hero-5 hero-5-1 clear-height show-media-column-on-mobile bkg-grey-ultralight">
							<div class="media-column width-6 window-height background-none">
								<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
									<ul class="tms-slides">
										<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="scaleOut">
											<img data-src="images/services/entreprise/drone.jpg" data-retina src="images/blank.png" alt=""/>
										</li>
										<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
											<img data-src="images/services/entreprise/drone.jpg" data-retina src="images/blank.png" alt=""/>
										</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="column width-5 offset-7">
									<div class="hero-content split-hero-content">
										<div class="hero-content-inner left center-on-mobile horizon" data-animate-in="preset:fadeIn;duration:1300ms;" data-threshold="0.5">
											<h2 class="mb-30">Numeria MFRS</h2>
											<h4 class="lead ">Gestion Comptable</h4>
											<ul style="list-style-type:none;" >
												<li>✓	Comptobilité de Coisse ou d'Engogement</li>
												<li>✓	Soisie Simple ou Double</li>
												<li>✓	Plan Comptoble Générol Morocoin</li>
												<li>✓	Multi-Compte/Fichier et Multi-Exercice</li>
												<li>✓	Personnolisotion Numérique ou Nominate des Comptes</li>
												<li>✓	Loi de Finance</li>
												<li>✓	Fonctions Fiscoles</li>
												<li>✓	Possoge du Résultot Comptoble ou Résultot Fiscole</li>
												<li>✓	Grand Livre, Balance, Bilon et CPC Dynomiques</li>
												<li>✓	Importation des Journoux</li>
												<li>✓	Synchronisotion ovec to Section Achot, Vente, Stock, Ressources Humoines et Trésorerie</li>
												<li>✓	Interrogation Numérique ou Nominate des Comptes</li>
												<li>✓	Lettroge de Constototion, de Réglement et Solde</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="media-column width-6 window-height background-none">
									<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="0" data-width="722">
										<ul class="tms-slides">
											<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
												<img data-src="images/services/numeria/numeria-mfrs.jpg" data-retina src="images/blank.png" alt=""/>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</section>
						<!-- Hero Section 5 End -->
					</div>
					<!-- Edition papier End -->

		





		

			     				<!-- Hero Section 5 -->
						<section class="section-block hero-5 hero-5-1 clear-height right show-media-column-on-mobile bkg-theme">
							<div class="media-column width-6 window-height background-none">
								<div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-keyboard="false" data-auto-advance data-auto-advance-interval="4000" data-progress-bar="false" data-speed="1000" data-scale-under="" data-width="722">
									<ul class="tms-slides">
										<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-as-bkg-image data-animation="slideLeftRight">
											<img data-src="images/services/numeria/numeria-pos.jpg" data-retina src="images/blank.png" alt=""  />
										
										</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="column width-5">
									<div class="hero-content split-hero-content">
										<div class="hero-content-inner left center-on-mobile horizon" data-animate-in="preset:fadeIn;duration:1300ms;" data-threshold="0.5">
											<div class="color-white">
												<h2 class="mb-30">Numeria POS</h2>
												<h4 class="color-grey-light">Point de vente</h4>
												<h5 class="color-grey-light">Commerce : Spicier, mini market, piéces auto, droguerie... 
													<br>
													Restauration : Café, Restaurant, Snack...
												</h5>
												<h4 class="color-grey-light">Caractéristiques :</h4>
												<ul style="list-style-type:none;" class="color-grey-light">
													<li>✓	Multi-langue : Arabe/English/EspagnoI/Frangais</li>
													<li>✓	Intégration Camera (capture de photos pour produits)</li>
													<li>✓	Intégration Duchette (Lecture de Code a barre)</li>
													<li>✓	Ecran tactile</li>
													<li>✓	Accés par privilége (Administrateur et autres utilisateurs)</li>
													<li>✓	Gestion de stock</li>
													<li>✓	Facturation et suivi (Devis, Bon de commande de livraison, Facture)</li>
													<li>✓	Création de Code Barre</li>
													<li>✓	Création badge Plastique</li>
													<li>✓	Statistique de vente</li>
													<li>✓	Facilité d’usage</li>
													<li>✓	Compatibilité : XP, W 7, vista</li>
													<li>✓	Différents unités de mesures : unité, métre, litre, kg</li>
													<li>✓	Impression : PDF, Ticket, A4, code a barre (2D, 3D), Badge, Carte de pointage</li>
													<li>✓	Backup</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						




			    <!--Numeria GCST-->
				<div class="section-block pt-60 pb-10  bkg-grey-ultralight">
					<div class="row">
						<div class="column width-5 ">
							<div class="feature-image mb-mobile-50 " >
								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
									<img src="images/services/numeria/numeria-gcst.jpg"  alt="" />
								</div>
							</div>
						
						</div>
						<div class="column width-7 ">
							<div class="tabs style-2 left">
								<ul class="tab-nav flex" >
									<li class="active" id="tab1">
										<a href="#tabs-4-pane-1" >Section achat</a>
									</li>
									<li id="tab2">
										<a href="#tabs-4-pane-2">Section vente</a>
									</li>
									<li id="tab3">
										<a href="#tabs-4-pane-3">Section stock</a>
									</li>
									<li id="tab4">
										<a href="#tabs-4-pane-4">Section tresorerie</a>
									</li>
								</ul>
								<div class="tab-panes">
									<div id="tabs-4-pane-1" class="active animate">
										<div class="tab-content">
											<ul style="list-style-type:none;"
												<li>✓ Documents: Correlation des Devis, BC, BR,Focture, Avoir... Soisie Prédictible et Interactive</li>
												<li>✓ Closseur: Archives, Troitement des documents: (Tronsfert, Envoi par mail...)</li>
												<li>✓ Logiciels d’applications commerciale, professionnelle, et financière</li>
												<li>✓ Programmation informatique, Traitement des données et conception de système intégré</li>
												<li>✓ Toxe: Tvo Récupéroble, TR des AchotS</li>
												<li>✓ Situation Fournisseur: Focturotion, Reception</li>
												<li>✓ Réglement et Décoissement en devises (synchronises ovec to section Trésorerie)</li>
											</ul>
										</div>
									</div>
									<div id="tabs-4-pane-2">
										<div class="tab-content">
											<ul style="list-style-type:none;"
											<li>✓ Documents: Corrélotion des Devis, BC, BL, Focture, Avoir... Soisie Prédictible et Interactive </li>
											<li>✓ Closseur: Archives, Troitement des documents: Focture, Avoir... Soisie Prédictible et Interactive		(Tronsfert, Envoi par mail...) </li>
											<li>✓ Toxe: Tvo Focturée, TR des Ventes </li>
											<li>✓ Situation Client: Focturotion, Livroison </li>
											<li>✓ Réglement et Encoissement en devises (synchronisés ovec to section Trésorerie) </li>
											<li>✓ Chiffres d’Affoires: Evolution et Composition  chiffres Focturés par client et par produit ovec
												Illushotion Grophique
												</li>
										</ul>	
										</div>
									</div>
									<div id="tabs-4-pane-3">
										<div class="tab-content">
											<ul style="list-style-type:none;"
												<li>✓ NUMERIA GCST : Gestion Commerciale, Stock, et Trésorerie </li>
												<li>✓ NUMERIA MFRS : Gestion Comptable </li>
												<li>✓ NUMERIA RH4P : Gestion des Ressources Humaines </li>
												<li>✓ NUMERIA ENTREPRISE : Gestion Complète </li>
												<li>✓ NUMERIA POS :Point de Vente </li>
										</ul>
										</div>
									</div>
									<div id="tabs-4-pane-4">
										<div class="tab-content">
											<ul style="list-style-type:none;">
												<li>✓ Suivi des Soldes</li>
												<li>✓ Conversion des Mesures</li>
												<li>✓ Conversion des Devises</li>
												<li>✓ Fiches Techniques de Production</li>
												<li>✓ Recherche Prédictible et Interactive</li>
												<li>✓ Ajout des Comptes Bonques et Coisses</li>
												<li>✓ lnventoire synchronisé ovec la section Achot et la Section Vente</li>
												<li>✓ Gestion des Prélévements et des Alimentotions</li>
												<li>✓ Synchronisée ovec les Décoissements de la section Achot et les Encoissements de la Section Vente et la Section Shop Coisse Décentrolisée</li>
												<li>✓ Soisie des Encoissements, Décoissements, Transfect Inter-Coisses et entre Comptes Bonques et Coisses</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


		<!-- Pricing Table Default -->
		<div class="section-block pt-70">
			<div class="row">
				<div class="column width-10 offset-1">
					<h2 class="mb-50 center">Numeria Packaging</h2>
					<div class="pricing-table large style-1 columns-4 mb-0 border-grey-ultralight">
						<div class="pricing-table-column bkg-white">
							<div class="pricing-table-header bkg-grey-ultralight color-charcoal">
								<h2 class="weight-bold">Numeria POS <br> point de vente</h2>
							</div>
							<div class="pricing-table-price bkg-white color-charcoal">
								<h4>
									<span class="currency">HT</span>2500 DH
									<!-- <span class="interval">/month</span> -->
								</h4>
							</div>
							<ul class="pricing-table-options color-grey">
								<li><span class="icon-check"></span> Mise a jour</li>
								<li><span class="icon-check"></span> Assisstance telephonique</li>
								<li><span class="icon-check"></span> Mode licence reseaux ouverte (500DH/poste)</li>
								<li><span class="icon-check"></span> Mode SAAS location (49DH/mois)</li>
								<li><span class="icon-check"></span> Maintenance et intervention technique (contrat) (99DH/mois)</li>
								<li><span class="icon-check"></span> Formation (100DH/heure)</li>
							</ul>
							<div class="pricing-table-footer">
								<a href="#" class="button bkg-theme bkg-hover-theme color-white color-hover-white mb-mobile-40">Select Option</a>
							</div>
						</div>
						<div class="pricing-table-column bkg-white">
							<div class="pricing-table-header bkg-grey-ultralight color-charcoal">
								<h2 class="weight-bold">Numeria GCST <br> gestion comerciale</h2>
							</div>
							<div class="pricing-table-price bkg-white color-charcoal">
								<h4>
									<span class="currency">HT</span>4500 DH
									<!-- <span class="interval">/month</span> -->
								</h4>
							</div>
							<ul class="pricing-table-options color-grey">
								<ul class="pricing-table-options color-grey">
									<li><span class="icon-check"></span> Mise a jour</li>
									<li><span class="icon-check"></span> Assisstance telephonique</li>
									<li><span class="icon-check"></span> Mode licence reseaux ouverte (500DH/poste)</li>
									<li><span class="icon-check"></span> Mode SAAS location (99DH/mois)</li>
									<li><span class="icon-check"></span> Maintenance et intervention technique (contrat) (99DH/mois)</li>
									<li><span class="icon-check"></span> Formation (100DH/heure)</li>
								</ul>
							</ul>
							<div class="pricing-table-footer">
								<a href="#" class="button bkg-theme bkg-hover-theme color-white color-hover-white mb-mobile-40">Select Option</a>
							</div>
						</div>
						<div class="pricing-table-column bkg-white">
							<div class="pricing-table-header bkg-grey-ultralight color-charcoal">
								<h2 class="weight-bold">Numeria MFRS <br> gestion comptable <br>
									
							</h2>
							</div>
							<div class="pricing-table-price bkg-white color-charcoal">
								<h4>
									<span class="currency">HT</span>4000 DH
									<!-- <span class="interval">/month</span> -->
								</h4>
							</div>
							<ul class="pricing-table-options color-grey">
								<ul class="pricing-table-options color-grey">
									<li><span class="icon-check"></span> Mise a jour</li>
									<li><span class="icon-check"></span> Assisstance telephonique</li>
									<li><span class="icon-check"></span> Mode licence reseaux ouverte (500DH/poste)</li>
									<li><span class="icon-check"></span> Mode SAAS location (99DH/mois)</li>
									<li><span class="icon-check"></span> Maintenance et intervention technique (contrat) (99DH/mois)</li>
									<li><span class="icon-check"></span> Formation (100DH/heure)</li>
								</ul>
							</ul>
							<div class="pricing-table-footer">
								<a href="#" class="button bkg-theme bkg-hover-theme color-white color-hover-white mb-mobile-40">Select Option</a>
							</div>
						</div>
						<div class="pricing-table-column callout bkg-white">
							<div class="pricing-table-header bkg-theme color-white">
								<h2 class="weight-bold">Numeria RH4P <br> gestion des ressources humaines</h2>
							</div>
							<div class="pricing-table-price bkg-white color-charcoal">
								<h4>
									<span class="currency">HT</span>5500 DH
									<!-- <span class="interval">/month</span> -->
								</h4>
							</div>
							<ul class="pricing-table-options color-grey">
								<ul class="pricing-table-options color-grey">
									<li><span class="icon-check"></span> Mise a jour</li>
									<li><span class="icon-check"></span> Assisstance telephonique</li>
									<li><span class="icon-check"></span> Mode licence reseaux ouverte (500DH/poste)</li>
									<li><span class="icon-check"></span> Mode SAAS location (99DH/mois)</li>
									<li><span class="icon-check"></span> Maintenance et intervention technique (contrat) (99DH/mois)</li>
									<li><span class="icon-check"></span> Formation (100DH/heure)</li>
								</ul>
							</ul>
							<div class="pricing-table-footer">
								<a href="#" class="button bkg-theme bkg-hover-theme color-white color-hover-white mb-mobile-40">Select Option</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Pricing Table Default End -->


        </div>
        <!-- Content End -->

     