<% layout('layouts/second') -%>
		<!-- Content -->
        <div class="content clearfix">

            	<!-- Full Width Slider Section -->
				<section class="section-block featured-media page-intro tm-slider-parallax-container">
					<div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140" data-scale-min-height="300">
						<ul class="tms-slides">
							<li class="tms-slide" data-image data-as-bkg-image data-force-fit>
								<div class="tms-content">
									<div class="tms-content-inner left" data-nav-dark>
										<div class="row pt-40">
											<div class="column width-12 center">
												<h1 class="tms-caption color-white text-center inline"
													data-animate-in="preset:slideInUpShort;duration:1000ms;delay:100ms;"
													data-no-scale
												>
													Solution IT
												</h1>
												<h4 class="tms-caption column width-12 color-white text-center inline"
												data-animate-in="preset:slideInUpShort;duration:1000ms;delay:100ms;"
												data-no-scale
											>
											Easyom est  une société d’ingénierie et de services de technologie de l’information spécialisée dans le développement des 
											</h4>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/services/communication-marketing/IT.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
						</ul>
					</div>
				</section>
				<!-- Full Width Slider Section -->


            <!-- About Section -->
            <!-- <div class="section-block bkg-white">
                <div class="row">
                   
                    
                </div>
            </div> -->
            <!-- About Section End -->

            <!-- Hero 5 Section -->
           <!--Tabs Style 2 -->
	<div class="section-block pt-60 pb-10 ">
		<div class="row">
			<div class="column width-5 images">
				<div class="feature-image mb-mobile-50 " >
					<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
						<img src="images/services/communication-marketing/it-solutions.jpg" id="tab1-img" alt="" />
					</div>
				</div>
				<div class="feature-image mb-mobile-50 " id="img2">
					<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
						<img src="images/services/communication-marketing/numeria-logiciel.jpg" id="tab2-img" alt="" />
					</div>
				</div>
				<div class="feature-image mb-mobile-50 " id="img3">
					<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
						<img src="images/services/communication-marketing/programming-skills.jpg" id="tab3-img" alt="" />
					</div>
				</div>
				<div class="feature-image mb-mobile-50 " id="img4">
					<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.6">
						<img src="images/services/communication-marketing/autre.jpg" id="tab4-img" alt="" />
					</div>
				</div>
			</div>
			<div class="column width-7 ">
				<div class="tabs style-2 left">
					<ul class="tab-nav flex" >
						<li class="active" id="tab1">
							<a href="#tabs-4-pane-1" >Solutions ITt</a>
						</li>
						<li id="tab2">
							<a href="#tabs-4-pane-2">DOMAINES DES COMPETENCES </a>
						</li>
						<li id="tab3">
							<a href="#tabs-4-pane-3">LOGICIELS</a>
						</li>
						<li id="tab4">
							<a href="#tabs-4-pane-4">AUTRES SERVICES </a>
						</li>
					</ul>
					<div class="tab-panes">
						<div id="tabs-4-pane-1" class="active animate">
							<div class="tab-content">
								<ul style="list-style-type:none;"
									<li>✓ Solutions informatiques</li>
									<li>✓ Logiciels de base des données et de gestion d’information</li>
									<li>✓ Logiciels d’applications commerciale, professionnelle, et financière</li>
									<li>✓ Programmation informatique, Traitement des données et conception de système intégré</li>
									<li>✓ Portails E-Gov et Site internet</li>
									<li>✓ Produits SAAS pour les PME-PMI</li>
									<li>✓ Produits et services relatives au Cloud Comuting</li>
									<li>✓ Logiciels Open Source Edites</li>
								</ul>
							</div>
						</div>
						<div id="tabs-4-pane-2">
							<div class="tab-content">
								<ul style="list-style-type:none;"
								<li>✓ Génie logiciel</li>
								<li>✓ IT services and Solutions</li>
								<li>✓ MySQL </li>
								<li>✓ Java, C, C++ </li>
								<li>✓ Java SE,  Java EE </li>
								<li>✓ Enterprise JavaBeans </li>
								<li>✓ JSP, Perl, PHP </li>
								<li>✓ HTML, CSS, JavaScript, J Query, Ajax </li>
								<li>✓ Data </li>
								<li>✓ Cloud </li>
								<li>✓ Security </li>
								<li>✓ Networking </li>
								<li>✓ Software and web development </li>
								<li>✓ Advertising and Marketing </li>
								<li>✓ Search Engine Optoimisation SEO </li>
								<li>✓ Mobile App Développement </li>
								<li>✓ Ingénierie financière </li>
								<li>✓ Intelligence Artificielle </li>
							</ul>	
							</div>
						</div>
						<div id="tabs-4-pane-3">
							<div class="tab-content">
								<ul style="list-style-type:none;"
									<li>✓ NUMERIA GCST : Gestion Commerciale, Stock, et Trésorerie </li>
									<li>✓ NUMERIA MFRS : Gestion Comptable </li>
									<li>✓ NUMERIA RH4P : Gestion des Ressources Humaines </li>
									<li>✓ NUMERIA ENTREPRISE : Gestion Complète </li>
									<li>✓ NUMERIA POS :Point de Vente </li>
							</ul>
							</div>
						</div>
						<div id="tabs-4-pane-4">
							<div class="tab-content">
								<ul style="list-style-type:none;">
									<li>✓ Diagnostic du système informatique</li>
									<li>✓ Assistance au choix d’une solution informatique</li>
									<li>✓ Mise en œuvre de la solution et évaluation</li>
									<li>✓ Séance d’encadrement et formation de personnel</li>
									<li>✓ Maintenance et Intervention technique</li>
									<li>✓ Installation et configuration de logiciel et matériel</li>
									<li>✓ Assistance Téléphonique</li>
									<li>✓ Mises à jour</li>
									<li>✓ Conseil et information </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		

        </div>
        <!-- Content End -->

     